
{% extends 'products/layout.html' %}

{% block content %}

<!-- Page Title
============================================= -->
<section id="page-title" class="products_title">

    <div class="container clearfix">
        <a href="#" class="button button-rounded side-panel-trigger products_side_menu"><i class="icon-line-layout"></i></a>
        <h1>CleanGoo</h1>
        <span></span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Product</a></li>
            <li class="breadcrumb-item"><a href="#">CleanGoo</a></li>
        </ol>
    </div>

</section><!-- #page-title end -->

<div class="section topmargin-lg nobottommargin section_product" style="margin:0px !important;">
    <div class="container clearfix">

        <div id="analysis" >
            <div class="section-title">
                 <div id="clean_table" class="table table-striped"></div>
            </div>
        </div>
    </div>
</div>
<style>
    #aa{
  cursor:pointer;
}
select{
    color:#000 !important;
}
</style>
<!-- SCRIPTS -->
<script type="text/javascript" src="/static/js/bootstrap/jquery-1.9.0.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/bootstrap/jquery.parallax.js"></script>
<script src="/static/js/bootstrap/modernizr.custom.js"></script>
<script src="/static/js/bootstrap/SmoothScroll.js"></script>
<script src="/static/js/bootstrap/custom.js"></script>

<script>
showAtRight('/clean_table','#clean_table');
function showAtRight(url, id){
        $.ajax({
            type :"GET",
            url : url,
            dataType:"html",
            success : function(data) {//返回数据根据结果进行相应的处理
                $(id).html(data);
            },
                error:function(){
                    $(id).html("获取数据失败！");
                }
            });
        }

</script>

    
{% endblock %}