h1,h2,h3,h4,h5,h6, a, p, div, label{
  font-family: "Apple SD Gothic Neo", "Malgun Gothic", sans-serif !important;
}
*, *::before, *::after{
    font-weight: normal;
}
label {
    text-transform: initial;
    margin-bottom: 3px;
    letter-spacing:0px;
}
a{
    color: #ca9e3f;
}
body{
    background-color: #2d2d2d;
}
#header.transparent-header.floating-header .container {
    background-color: #2d2d2d;
}

#header-wrap{
    background-color:#2d2d2d;

}
#top-bar.transparent-topbar {
        background-color: #2d2d2d !important;
}

#primary-menu ul li > a {
    color: #fff;
}

#top-bar.transparent-topbar {
        padding-top: 0px;
    }
#header.transparent-header.floating-header {
    margin-top: 0px;
}


#header.sticky-header #header-wrap {
    background-color: #2d2d2d;
}

#top-bar {
    line-height: 25px;
    height: initial;
    background-color: #2d2d2d !important;
    border:none;
}

.top-links ul li, .top-links li > a  {
    height: 25px;
    font-size: 10px;
    font-weight: 300;
}


.top-links li a img {
    width: 15px;
    height: 15px;
    top: -1px;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: normal;
}

h2{
    font-weight: 400;
}

.button{
    background-color:#C4A04F;
}

#primary-menu ul li:hover > a, #primary-menu ul li.current > a {
    color: #ca9e3f;
    /*font-weight: bold;*/
}

@media(min-width:992px){
    .mobileButton {
        display:none;
    }
    .slider-title h2{
        font-size:40px;
    }
}
@media (max-width: 991.98px){
    #logo {

        height: 60px;
    }
    #primary-menu-trigger{
        top:7px;
    }

    .mobileButton {
        display:block;
    }
    #header-wrap{
        background-color:#2d2d2d;
    }
}
 #logo img{
      height: 70px;
 }

 /*.video-overlay{*/
     /*display: none;*/
 /*}*/

 #header{
    border-width: 0px !important;
 }
 .top-links ul ul{
    border-top-color: rgb(202, 158, 63);
     top: 25px;
 }

#copyrights *{
    color:#eee;
}

.entry .entry-title h3 a {
    font-size: 20px;
    color: #fff !important;
}

.heading-block h3 {
    font-size: 36px;
}
.team-desc{
    margin-left:30px;
}
.work1-box{
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px #efefef;
}
.work1-meta{margin-top: 10px;}
.work1-meta h4{color: #000;display: inline-block;margin-right: 6px;margin-bottom: 0px;font-size: 13px;}
.work1-meta span{
    color: #b9b9b9;
    letter-spacing: 1px;
}
.work1-title{margin-top: 5px;font-weight: 600;font-size: 20px;}
.work1-content{

}
.work1-content p {

}
.work1-readmore{
    position: absolute;
    right: 10px;
    bottom: 10px;}

.section_product{
    background-color: #2d2d2d;
}
.section_product *, .section_product h2{
  color:#fff;
}
.section_product .heading-block:after{
    border-color: #fff !important;
}
.section_product span{
    color:#fff !important;
}
.section_product a{
    color: #fff !important;
    border-color: #fff !important;
}


.products_title{
    padding:10px 0px !important;
    background-color: #2d2d2d !important;
    border:none !important;
}

.products_title h1,.products_title span{
    display: inline-block !important;
    color: #fff !important;
}

.products_title span{
    margin-left: 10px;
}

.products_side_menu{
    font-size: 20px;
    height: 35px;
    padding: 0px 18px;
    background-color: #777;
}

.product_all_object_title{
    font-size: 30px;
}