#gallery1{
background: black;
    padding-top: 3%;
  text-align: center;
  color: white;
}

#gallery{
background: black;
    padding-top: 0;
  text-align: center;
  color: white;
}

#gallery video{
    width: 500px;
    height: auto;
}