{% extends 'console/layout.html' %}
{% block product_name %}
{# ****     1. Write down the product name    #}
   TEXTGOO
{% endblock %}

{% block product_description %}
{# ****     2. Write down the product description    #}
    Knowledge Graph
{% endblock %}


{% block content %}


<script type="application/javascript"></script>
<style></style>
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap/tooplate-style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/textgoo/cropper.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/textgoo/ImgCropping.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/user_img.css">
    <link rel="stylesheet" type="text/css" href="/static/css/textgoo/draw_text.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <script type="text/javascript" src="/static/js/textgoo/jquery-1.11.3.js"></script>
    <script type='text/javascript' src='/static/js/textgoo/cropper.min.js'></script>
    <script src="/static/js/textgoo/upload.js"></script>
    <script src="https://cdn.bootcss.com/PapaParse/4.4.0/papaparse.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jschardet/1.4.1/jschardet.min.js"></script>
 <div id="knowledge_text" class="text" style="display: none">
        <ul id="data_text">
            {% for name in text_data %}
            <li>{{ name }}</li>
            {% endfor %}
        </ul>
    </div>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <!--上传数据用于词云展示-->

<script>
    draw_knowledge();
function draw_knowledge(){

// http://blog.thomsonreuters.com/index.php/mobile-patent-suits-graphic-of-the-day/
var arr = document.getElementById("data_text").getElementsByTagName('li'),links = [];
for(var i = 0;i<arr.length;i++){
    arr_str=arr[i].innerHTML;
    var obj = eval('(' + arr_str + ')');
    links.push(obj)
}

var nodes = {};

links.forEach(function(link) {
  link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
  link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
});

var width = 1210,
    height = 1170;

var line_length=links[0].rela.length*20;

var force = d3.layout.force()//layout将json格式转化为力学图可用的格式
    .nodes(d3.values(nodes))//设定节点数组
    .links(links)//设定连线数组
    .size([width, height])//作用域的大小
    .linkDistance(line_length)//连接线长度
    .charge(-1500)//顶点的电荷数。该参数决定是排斥还是吸引，数值越小越互相排斥
    .on("tick", tick)//指时间间隔，隔一段时间刷新一次画面
    .start();//开始转换

var svg = d3.select("body").append("svg")
    .attr('id','draw_knowledge')
    .attr("width", width)
    .attr("height", height);

//箭头
var marker=
    svg.append("marker")
    //.attr("id", function(d) { return d; })
    .attr("id", "resolved")
    //.attr("markerUnits","strokeWidth")//设置为strokeWidth箭头会随着线的粗细发生变化
    .attr("markerUnits","userSpaceOnUse")
    .attr("viewBox", "0 -5 10 10")//坐标系的区域
    .attr("refX",32)//箭头坐标
    .attr("refY", -1)
    .attr("markerWidth", 12)//标识的大小
    .attr("markerHeight", 12)
    .attr("orient", "auto")//绘制方向，可设定为：auto（自动确认方向）和 角度值
    .attr("stroke-width",2)//箭头宽度
    .append("path")
    .attr("d", "M0,-5L10,0L0,5")//箭头的路径
    .attr('fill','#000000');//箭头颜色

/* 将连接线设置为曲线
var path = svg.append("g").selectAll("path")
    .data(force.links())
    .enter().append("path")
    .attr("class", function(d) { return "link " + d.type; })
    .style("stroke",function(d){
        //console.log(d);
       return "#A254A2";//连接线的颜色
    })
    .attr("marker-end", function(d) { return "url(#" + d.type + ")"; });
*/

//设置连接线
var edges_line = svg.selectAll(".edgepath")
    .data(force.links())
    .enter()
    .append("path")
    .attr({
          'd': function(d) {return 'M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y},
          'class':'edgepath',
          //'fill-opacity':0,
          //'stroke-opacity':0,
          //'fill':'blue',
          //'stroke':'red',
          'id':function(d,i) {return 'edgepath'+i;}})
    .style("stroke",function(d){
         var lineColor;
         //根据关系的不同设置线条颜色

             lineColor="#F30E00";

         return lineColor;
     })
    .style("pointer-events", "none")
    .style("stroke-width",0.5)//线条粗细
    .attr("marker-end", "url(#resolved)" );//根据箭头标记的id号标记箭头

var edges_text = svg.append("g").selectAll(".edgelabel")
.data(force.links())
.enter()
.append("text")
.style("pointer-events", "none")
//.attr("class","linetext")
.attr({  'class':'edgelabel',
               'id':function(d,i){return 'edgepath'+i;},
               'dx':80,
               'dy':0
               //'font-size':10,
               //'fill':'#aaa'
               });

//设置线条上的文字
edges_text.append('textPath')
.attr('xlink:href',function(d,i) {return '#edgepath'+i})
.style("pointer-events", "none")
.text(function(d){return d.rela;});

//圆圈
var circle = svg.append("g").selectAll("circle")
    .data(force.nodes())//表示使用force.nodes数据
    .enter().append("circle")
    .style("fill",function(node){
        var color;//圆圈背景色
        var link=links[node.index];

            color="#F0F0F0";

        return color;
    })
    .style('stroke',function(node){
        var color;//圆圈线条的颜色
        var link=links[node.index];

            color="#d0d0d0";

        return color;
    })
    .attr("r", 27)//设置圆圈半径
    .on("click",function(node){
        //单击时让连接线加粗
        edges_line.style("stroke-width",function(line){
            if(line.source.name==node.name || line.target.name==node.name){
                return 2;
            }else{
                return 0.5;
            }
        });
        //d3.select(this).style('stroke-width',2);
    })
    .call(force.drag);//将当前选中的元素传到drag函数中，使顶点可以被拖动


var text = svg.append("g").selectAll("text")
    .data(force.nodes())
    //返回缺失元素的占位对象（placeholder），指向绑定的数据中比选定元素集多出的一部分元素。
    .enter()
    .append("text")
    .attr("dy", ".35em")
    .attr("text-anchor", "middle")//在圆圈中加上数据
    .style('fill',function(node){
        var color;//文字颜色
        var link=links[node.index];

            color="#565657";

        return color;
    }).attr('x',function(d){
        var re_en = /[a-zA-Z]+/g;
        //如果是全英文，不换行
        if(d.name.match(re_en)){
             d3.select(this).append('tspan')
             .attr('x',0)
             .attr('y',2)
             .text(function(){return d.name;});
        }
        //如果小于四个字符，不换行
        else if(d.name.length<=4){
             d3.select(this).append('tspan')
            .attr('x',0)
            .attr('y',2)
            .text(function(){return d.name;});
        }else{
            var top=d.name.substring(0,4);
            var bot=d.name.substring(4,d.name.length);

            d3.select(this).text(function(){return '';});

            d3.select(this).append('tspan')
                .attr('x',0)
                .attr('y',-7)
                .text(function(){return top;});

            d3.select(this).append('tspan')
                .attr('x',0)
                .attr('y',10)
                .text(function(){return bot;});
        }

    });


function tick() {

  circle.attr("transform", transform1);//圆圈
  text.attr("transform", transform2);//顶点文字

  edges_line.attr('d', function(d) {
      var path='M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y;
      return path;
  });

  edges_text.attr('transform',function(d,i){
        if (d.target.x<d.source.x){
            bbox = this.getBBox();
            rx = bbox.x+bbox.width/2;
            ry = bbox.y+bbox.height/2;
            return 'rotate(180 '+rx+' '+ry+')';
        }
        else {
            return 'rotate(0)';
        }
   });
}

//设置连接线的坐标,使用椭圆弧路径段双向编码
function linkArc(d) {

  return 'M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y
}
//设置圆圈和文字的坐标
function transform1(d) {
  return "translate(" + d.x + "," + d.y + ")";
}
function transform2(d) {
      return "translate(" + (d.x) + "," + d.y + ")";
}
}
</script>









{% endblock %}