<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="https://img.hcharts.cn/highmaps/highmaps.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts/themes/grid-light.js"></script>
</head>
<body>
<!-- 所有地图数据详情见：https://img.hcharts.cn/mapdata/index.html -->
<script src="https://img.hcharts.cn/mapdata/index.js"></script>
<script src="https://img.hcharts.cn/libs/jquery-ui/jquery-ui.js"></script>
<script src="https://img.hcharts.cn/static/common/jquery.combobox.js"></script>
<script src="/static/data/geogoo/world_data.json"></script>
<link href="https://img.hcharts.cn/libs/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet">
<link href="https://img.hcharts.cn/libs/font-awesome/css/font-awesome.css" rel="stylesheet">
<div id="demo-wrapper">
    <div id="container" style="height:600px;"></div>
    <select id="year_select"></select>
</div>
<script>
    var index=0;
    var inner="";
    for(var i =2003;i<=2017;i++){
        inner+="<option value="+i+">"+i+"</option>";
    }
    $('#year_select').html(inner);
    $('#year_select').change(function () {
        index=$('#year_select').val()-2003;
        getdata(index);
    });
    Highcharts.setOptions({
        lang: {
            drillUpText: '< 返回 “{series.name}”'
        }
    });
    var map = null;
    getdata(index);
    function getdata(index) {
        $.getJSON("/static/data/geogoo/world_data.json", function (result) {
            var dataall = result["world"][index];
            var data = [];
            $.each(dataall, function (key, value) {
                data.push({name: key, value: value});
            });
            $.getJSON('https://img.hcharts.cn/mapdata/custom/world-highres2.geo.json', function (mapdata) {
                map = new Highcharts.Map('container', {
                    title: {
                        text: '世界地图'
                    },
                    mapNavigation: {
                        enabled: true,
                        buttonOptions: {
                            verticalAlign: 'bottom'
                        }
                    },
                    colorAxis: {
                        min: 0,
                        minColor: '#fff',
                        maxColor: '#ff0000',
                        labels: {
                            style: {
                                "color": "red", "fontWeight": "bold"
                            }
                        }
                    },
                    series: [{
                        data: data,
                        mapData: mapdata,
                        joinBy: 'name',
                        name: 'Corporate Marginal Tax Rates'
                    }]
                });
            });

        });
    }
</script>
</body>
</html>