<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/geogoo/colorselect.css">

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/style.css">
    <script type="text/javascript" src="/static/js/bootstrap/jquery-1.9.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/mdui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/user/user.css">
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">

    <!-- MAIN CSS -->
    <link href="http://a.amap.com/Loca/static/manual/example/style/demo.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap/tooplate-style.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="/static/css/geogoo/geography.css">

    <title>Massive points</title>
</head>

<body style="background: black">
<div id="picker"></div>
<div class="navbar custom-navbar navbar-fixed-top" role="navigation" style="background: black">
    <div class="container">
        <!-- NAVBAR HEADER -->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <!-- lOGO -->
            <a href="#" class="navbar-brand">DaGoo!</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="smoothScroll"><a href="/index" id="home_page">Home</a></li>
                <li class="smoothScroll"><a href="/geo/admin/" id="geo_admin">Administration</a></li>
                <li class="smoothScroll"><a href="#" id="geo_points">Points</a></li>
                <li class="smoothScroll"><a href="/geo/line/" id="geo_line">Line</a></li>
                <li class="smoothScroll"><a href="/geo/index/">back</a></li>
            </ul>
        </div>
    </div>
</div>
<div style="margin-top:150px;float: left;width: 15%;color: white;position: relative">
    <button id="change_color" class="button_blue" onclick="change_display()">change color</button>
    <form method="post" action="/geo/points/upload/" enctype="multipart/form-data">
        <input class="button_blue" id="file_path" name="file_path" type="button"
               onclick="file.click()" value="File Upload">
        <input type="file" id="file" style="display:none" name="file"
               onchange="file_path.value=this.value">
        <input class="button_blue" type="submit" value="Submit">
    </form>
</div>
<div id="container" style="margin-top: 90px;float: left;position: relative"></div>
<script src="https://webapi.amap.com/loca?key=2dd663dd485017c4b832632ff9751da0"></script>
<!-- UI组件库 1.0 -->
<script src="/static/js/bootstrap/jquery.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<!--文件上传使用的-->
<script src="/static/js/upload/papaparse.js"></script>
<script src="http://a.amap.com/Loca/static/manual/example/script/demo.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jschardet/1.4.1/jschardet.min.js"></script>
{#<script src="/static/data/geogoo/geo_points.js"></script>#}
<script src="/static/js/geogoo/colorselect.js"></script>
<script>
    {#$('#picker').fadeOut();#}

    function change_display() {
        if ($('#picker').css('opacity') == 0) {
            $('#picker').css('opacity','1');
        }
        else {
            $('#picker').css('opacity','0');
        }
    }

    geogra_data = {};
    $.ajax({
        type: "POST",
        url: "/geo/get/points/",
        data: {},
        async: false,
        dataType: "json",
        success: function (res) {//返回数据根据结果进行相应的处理
            geogra_data = res.points;
        },
        error: function () {
            alert("获取数据失败！");
        }
    });

    var min, max;
    for (var points in geogra_data) {
        var data = geogra_data[points].value;
        if (points == 0) {
            max = data;
            min = data;
        } else {
            if (data - max > 0) {
                max = data;
            } else if (data - min < 0) {
                min = data;
            }
        }
    }


    var map = Loca.create('container', {
        mapStyle: 'amap://styles/26fc904bd43d8b834219809619ba4aea',
    });

    function changelayer(color) {
        var layer = Loca.visualLayer({
            eventSupport: true,
            fitView: true,
            container: map,
            {#blendMode: 'lighter',#}
            type: 'point',
            shape: 'circle',
        });

        layer.on('mousemove', (ev) => {
            // 事件类型
            var type = ev.type;
            // 当前元素的原始数据
            var rawData = ev.rawData;
            // 原始鼠标事件
            var originalEvent = ev.originalEvent;
            openInfoWin(map.getMap(), originalEvent, {
                '位置': [rawData.latitude.toString(), rawData.longitude.toString()],
                '热度': rawData.value.toString(),
            });
        });
        map.on('click', (ev) => {
            closeInfoWin();
            $('#picker').css('opacity','0');
        });


        layer.setData(geogra_data, {
            lnglat: function (data) {
                var item = data.value;
                return [item.longitude, item.latitude];
            }
        });


        layer.setOptions({
            style: {
                radius: function (data) {
                    if (max === min)
                        return 12;
                    else
                        return (data.value.value - min) / (max - min) * 6 + 6;
                },
                //fill: function (data) {
                //  return '#cc589f';
                //},
                {#opacity: 1,#}
                color: color,
                opacity: 0.6,
                borderWidth: 1,
                borderColor: '#eee',
            },
        });
        layer.render();
    }

    var picker = new ColorPicker(document.getElementById('picker'), {
        onUpdate: function (rgb) {
            changelayer("rgb(" + rgb[0] + ", " + rgb[1] + ", " + rgb[2] + ")");
        }
    });
    changelayer('#cc589f');


    //文件上传部分
    $.fn.csv2arr = function (callback) {
        console.log('你好');
        if (typeof(FileReader) == 'undefined') {    //if not H5
            alert("Your browser is too old,please use Chrome or Firefox");
            return false;
        }
        if (!$(this)[0].files[0]) {
            alert("Please select a file");
            return false;
        }
        var fReader = new FileReader();
        fReader.readAsDataURL($(this)[0].files[0]);
        $fileDOM = $(this);
        fReader.onload = function (evt) {
            var data = evt.target.result;
            var encoding = checkEncoding(data);
            Papa.parse($($fileDOM)[0].files[0], {
                encoding: encoding,
                complete: function (results) {
                    var res = results.data;
                    console.log("成功进入geo");
                    $.ajax({
                        url: '/geo/points/upload/',
                        type: 'POST',
                        data: {json_data: JSON.stringify(res)},
                        dataType: 'html',
                        success: function (res) {
                            if (res == "true") {
                                alert('success !');
                                window.location.href = '/geo/points/';
                            } else {
                                alert('Unknown error.');
                            }
                        },
                        error: function () {
                            alert('Internet error');
                        }
                    });
                    if (res[res.length - 1] == "") {
                        res.pop();
                    }
                    callback && callback(res);
                }
            });
        };
        fReader.onerror = function (evt) {
            alert("The file has changed,please select again.(Firefox)");
        };

        function checkEncoding(base64Str) {
            var str = atob(base64Str.split(";base64,")[1]);
            var encoding = jschardet.detect(str);
            encoding = encoding.encoding;
            console.log(encoding);
            if (encoding == "windows-1252") {
                encoding = "ANSI";
            }
            return encoding;
        }
    };
</script>

</body>
</html>