<!DOCTYPE html>
<html lang="en">
<head>

    <title>GeoGoo</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap/tooplate-style.css">
    <link rel="stylesheet" href="/static/css/gallery.css">
    <link rel="stylesheet" href="/static/css/products.css">
    <link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.1/css/mdui.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/user/user.css">
    <script src="/static/js/jquery.js"></script>
    <style>
        table {
            width: 500px;
            border: 1px;
        }
    </style>

</head>
<style>

</style>

<body>

<!-- MENU -->
<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- NAVBAR HEADER -->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <!-- lOGO -->
            <a href="#" class="navbar-brand">DaGoo!</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="smoothScroll">Home</a></li>
                <li><a href="/products" class="smoothScroll">Products</a></li>
                <li><a href="/gallery/" class="smoothScroll">Gallery</a></li>
                <li><a href="#" class="smoothScroll">Contact us</a></li>
                <li>
                    <div style="width: 2px; height: 20px; background-color: white; margin: 15px"></div>
                </li>
                {% if user %}
                    <li class="user_img"><a class="page-scroll" href="/user/">
                        <div class="to3" style="margin-top: -10px;">
                            <div class="to2">
                                <div class="to1">
                                    <img class="to" src="/static/user/{{ user.email }}/img/user_img.jpg">
                                </div>
                            </div>
                        </div>
                    </a>
                    </li>
                    <li><a href="/login/" class="page-scroll">Quit</a></li>
                {% else %}
                    <li>
                        <a href="/login/" class="">Log in/Sign up</a>
                    </li>
                {% endif %}
                {% if user %}
                    {% if user.permission==100 %}
                        <li>
                            <a href="/admin/?manager={{ user.username }}" class="">manage</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% if user %}
                <script>

                    var permi = '' +{{ user.permission }};
                    switch (permi) {
                        case "1":
                            $('.to3').css('background-color', '#aac4bc');
                            break;
                        case "2":
                            $('.to3').css('background-color', '#ae853b');
                            break;
                        case "3":
                            $('.to3').css('background-color', '#dfdc5d');
                            break;
                        case "100":
                            $('.to3').css('background-color', '#ede4b8');
                            break;
                        default:
                            $('.to3').css('background-color', 'white');
                    }
                </script>
            {% endif %}
        </div>

    </div>
</div>

<!-- HOME -->
<div class="parallax-section" style="background-color: black;height: 800px;">
    <div class="container" style="color:white; align:center; ">
        <div style="width: 80%;  text-align: center; padding-top: 150px;margin: 0 auto">

            <div class="leftDiv">
                <a href="/geo/<globe>/"><img src="/static/images/geogoo/globemap.png" style="width:150px;" alt=""/></a>
            </div>
            <div class="rightDiv">
                <br>
                <a href="/geo/<globe>/" style="color: white; font-size: 16px;"> GlobeMap! </a>
                <br>
                <h5 style="font-weight: normal;">Visually Globe data.</h5>
            </div>


            <div class="leftDiv">
                <a href="/geo/<plane>/"><img src="/static/images/geogoo/planemap.png" style="width:150px;" alt=""/></a>
            </div>
            <div class="rightDiv">
                <br>
                <a href="/geo/<plane>/" style="color: white; font-size: 16px;"> Planemap! </a>

                <br><h5 style="font-weight: normal;">Visually Plane map data</h5>
            </div>
            </br>


            <div class="leftDiv">
                <a href="/geo/<tower>"><img src="/static/images/geogoo/towermap.png" style="width:150px;" alt=""/></a>
            </div>
            <div class="rightDiv">
                <br>
                <a href="/geo/<tower>" style="color: white; font-size: 16px;"> Towermap! </a>
                <br>
                <h5 style="font-weight: normal;">Visually Tower map data.</h5>

            </div>
            <br>


            <div class="leftDiv">
                <a href="/geo/<list>"><img src="/static/images/geogoo/listmap.png" style="width:150px;" alt=""/></a>
            </div>
            <div class="rightDiv">
                <br/>
                <a href="/geo/<list>" style="color: white; font-size: 16px;"> Listmap! </a>
                <br><h5 style="font-weight: normal;">List different products distribution with planemap.</h5>

            </div>
            <br>

            <div class="leftDiv">
                <a href="/geo/admin/"><img src="/static/images/geogoo/geo.png" style="width:150px;" alt=""/></a>
            </div>
            <div class="rightDiv">
                <br/>
                <a href="/geo/admin/" style="color: white; font-size: 16px;"> Adminastration! </a>
                <br><h5 style="font-weight: normal;">Display distribution on China's administrative map</h5>

            </div>
            <br>

            <div class="leftDiv">
                <a href="/geo/points/"><img src="/static/images/geogoo/geo_point.png" style="width:150px;" alt=""/></a>
            </div>
            <div class="rightDiv">
                <br/>
                <a href="/geo/points/" style="color: white; font-size: 16px;"> Points! </a>
                <br>
                <h5 style="font-weight: normal;">Show the distribution of points on the map of China</h5>

            </div>

            <div class="leftDiv">
                <a href="/geo/line/"><img src="/static/images/geogoo/geo_line.png" style="width:150px;" alt=""/></a>
            </div>
            <div class="rightDiv">
                <br/>
                <a href="/geo/line/" style="color: white; font-size: 16px;"> Line! </a>
                <br>
                <h5 style="font-weight: normal;">Show the line distribution on the map of China</h5>

            </div>

            <div class="leftDiv">
                <a href="/geo/world/"><img src="/static/images/geogoo/geo_world.png" style="width:150px;" alt=""/></a>
            </div>
            <div class="rightDiv">
                <br/>
                <a href="/geo/wolrd/" style="color: white; font-size: 16px;"> World! </a>
                <br>
                <h5 style="font-weight: normal;">Show the world trade heat map</h5>

            </div>

        </div>


    </div>
</div>


<div style="background-color: black; color: white">
    <br>
    <br>
    <br>
    <h3 style="margin: 0 auto">Examples for geography data</h3>
    <div class="mdui-tab mdui-tab-centered" mdui-tab>
        <a href="#admin" class="mdui-ripple mdui-tab-active">Administrative heat map</a>
        <a href="#point" class="mdui-ripple">Point distribution</a>
        <a href="#line" class="mdui-ripple">Line distribution</a>
    </div>
    <div id="admin" class="mdui-p-a-2" style="width:500px; margin: 0 auto">
        <table>
            <tr>
                <th>name</th>
                <th>economic</th>
                <th>population</th>
                <th>area</th>
            </tr>
            <tr>
                <th>山东</th>
                <td>12</td>
                <td>15</td>
                <td>75</td>
            </tr>
            <tr>
                <th>淄博</th>
                <td>1.2</td>
                <td>1.7</td>
                <td>8.9</td>
            </tr>
            <tr>
                <th>章丘</th>
                <td>0.5</td>
                <td>1.1</td>
                <td>0.9</td>
            </tr>
        </table>
    </div>
    <div id="point" class="mdui-p-a-2" style="width:500px; margin: 0 auto">
        <table>
            <tr>
                <td>105.005</td>
                <td>32.349</td>
                <td>634</td>
                <td>这里是世界上最美丽的地方</td>
            </tr>
            <tr>
                <td>104.602</td>
                <td>32.067</td>
                <td>5234</td>
                <td>小镇的交通非常拥挤</td>
            </tr>
            <tr>
                <td>105.042</td>
                <td>32.402</td>
                <td>3.2</td>
                <td>污染严重</td>
            </tr>
            <tr>
                <td>103.715</td>
                <td>31.211</td>
                <td>5434</td>
                <td>早上的交通非常繁忙</td>
            </tr>
        </table>
    </div>
    <div id="line" class="mdui-p-a-2" style="width:500px; margin: 0 auto">
        <table>
            <tr>
                <td>北京</td>
                <td>上海</td>
                <td>2018/11/07 12:30</td>
            </tr>
            <tr>
                <td>西安</td>
                <td>合肥</td>
                <td>or 37</td>
            </tr>
            <tr>
                <td>临沂</td>
                <td>石家庄</td>
                <td>or $572</td>
            </tr>
            <tr>
                <td>深圳</td>
                <td>福州</td>
                <td>or any other text</td>
            </tr>
        </table>
    </div>
</div>
<!-- SCRIPTS -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/bootstrap/jquery.parallax.js"></script>
<script src="/static/js/bootstrap/modernizr.custom.js"></script>
<script src="/static/js/bootstrap/SmoothScroll.js"></script>
<script src="/static/js/bootstrap/main.js"></script>
<script src="/static/js/bootstrap/custom.js"></script>
<script src="/static/js/upload/upload.js"></script>
{#<script src="/static/js/tab.js"></script>#}
<script src="https://cdn.bootcss.com/PapaParse/4.4.0/papaparse.js"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/jschardet/1.4.1/jschardet.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://www.xdocin.com/xdoc.js"></script>
<script type="text/javascript" src="http://www.xdocin.com/baiduTemplate.js"></script>
{#<script src="/static/js/bootstrap/parallel.js"></script>#}
{#<script src="/static/js/radviz.js"></script>#}
{#<script src="/static/js/scatter.js"></script>#}
{#<script src="/static/js/fisheye.js"></script>#}
<script src="//cdnjs.loli.net/ajax/libs/mdui/0.4.1/js/mdui.min.js"></script>

</body>
</html>