{% extends 'console/layout.html' %}
{% block product_name %}
    GraphGoo
{% endblock %}

{% block product_description %}
    Hierarchical Layout
{% endblock %}


{% block content %}
<link rel="stylesheet" href="/static/css/graphgoo/vis-network.min.css">
<style>
.getdata{
    display: none;
}
</style>
<style>
    #hierarchical_layout {
      width: 100%;
      height: 500px;
    }
</style>

<div class="section topmargin-lg nobottommargin section_product" style="margin:0px !important;">
    <div class="container clearfix">
        <div id="hierarchical_layout">
        </div>
    </div>
</div>

<div class="getdata">
    <ul id="graph_nodes">
        {% for item in nodes %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <ul id="graph_matrix">
        {% for item in matrix %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</div>

<script src="/static/js/graphgoo/vis.js"></script>
<script>
    graph_nodes = new Array();
    arr = document.getElementById("graph_nodes").getElementsByTagName('li');
    temp = [];
    for (i = 0; i < arr.length; i++) {
        graph_nodes.push(arr[i].innerHTML);
    }
    var graph_matrix = new Array();
    arr = document.getElementById('graph_matrix').getElementsByTagName('li');
    temp = [];
    for (i = 0; i < arr.length; i++) {
        temp.push(arr[i].innerHTML)
    }
    for (i = 0; i < temp.length; i++) {
        temp1 = temp[i].replace('[', '');
        temp2 = temp1.replace(']', '');
        temp3 = temp2.split(",");
        numArray = temp3.map((value) => {
            return parseFloat(value);
        });
        graph_matrix.push(numArray)
    }

    var hierarchical_nodes = [];
    var hierarchical_edges = [];
    for(i = 0; i < graph_nodes.length; i++){
        hierarchical_nodes.push({"id":i,"label":graph_nodes[i], "color":"#ffffff"})
    }
    for(i = 0; i < graph_nodes.length; i++){
        for(j = 0; j< graph_nodes.length; j++){
            if(!isNaN(graph_matrix[i][j])){
                hierarchical_edges.push({from:i, to:j})
            }
        }
    }

    var hierarchical_container = document.getElementById('hierarchical_layout');
    hierarchical_nodes = new vis.DataSet(hierarchical_nodes);
    hierarchical_edges = new vis.DataSet(hierarchical_edges);
    var hierarchical_data = {
        nodes: hierarchical_nodes,
        edges: hierarchical_edges
    };

    var hierarchical_options = {
        layout: {
            hierarchical: {
                sortMethod: "directed"
            }
        },
        edges: {
            smooth: true,
            arrows: {to : true },
            color: {"color": "#fff"},
            width: 2
        },
        nodes: {
            shape:'circle'
        }
    };

    hierarchical_network = new vis.Network(hierarchical_container, hierarchical_data, hierarchical_options);
</script>
{% endblock %}