{% extends 'console/layout.html' %}
{% block product_name %}
    GraphGoo
{% endblock %}

{% block product_description %}
    Circular Layout
{% endblock %}


{% block content %}
<style>
.getdata{
    display: none;
}
</style>

<div class="section topmargin-lg nobottommargin section_product" style="margin:0px !important;">
    <div class="container clearfix">
        <div id="circular_layout">
        </div>
    </div>
</div>

<div class="getdata">
    <ul id="graph_nodes">
        {% for item in nodes %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <ul id="graph_matrix">
        {% for item in matrix %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</div>

<script src="/static/js/d3.v3.min.js"></script>
<script src="/static/js/graphgoo/circleGraph.js"></script>
<script>
    graph_nodes = new Array();
    arr = document.getElementById("graph_nodes").getElementsByTagName('li');
    temp = [];
    for (i = 0; i < arr.length; i++) {
        graph_nodes.push(arr[i].innerHTML);
    }
    var graph_matrix = new Array();
    arr = document.getElementById('graph_matrix').getElementsByTagName('li');
    temp = [];
    for (i = 0; i < arr.length; i++) {
        temp.push(arr[i].innerHTML)
    }
    for (i = 0; i < temp.length; i++) {
        temp1 = temp[i].replace('[', '');
        temp2 = temp1.replace(']', '');
        temp3 = temp2.split(",");
        numArray = temp3.map((value) => {
            return parseFloat(value);
        });
        graph_matrix.push(numArray)
    }
    circular_nodes = [];
    for(i = 0; i < graph_nodes.length; i++){
        object = {};
        object.name = graph_nodes[i];
        circular_nodes.push(object);
    }
    circular_edges = [];
    for(i = 0; i < graph_matrix.length; i++){
        for(j = 0; j < graph_matrix[0].length; j++){
            if(!isNaN(graph_matrix[i][j])){
                object = {};
                object.source = graph_nodes[i];
                object.target = graph_nodes[j];
                circular_edges.push(object);
            }

        }
    }

    var circular_radius = 200;
    var circular_margin = 50;
    var circular_outerRadius = circular_radius + circular_margin;

    var circleGraph = d3.layout.circleGraph()
        .tension(0.2)
        .radius(circular_radius)
        .range(Math.PI * 2)
        .nodes(circular_nodes)
        .edges(circular_edges);

    var circular_svg = d3.select('#circular_layout')
        .append('svg')
        .attr('width', circular_outerRadius * 2)
        .attr('height', circular_outerRadius * 2)
        .append('g')
        .attr('transform', 'translate(' + circular_outerRadius + ', ' + circular_outerRadius + ')');

    circular_svg.selectAll('path.edge')
        .data(circular_edges)
        .enter()
        .append('path')
        .classed('circular_edge', true)
        .attr('d', circleGraph.line)
        .attr('stroke', '#CCC')
        .attr('stroke-width', '2px')
        .attr('fill', 'none');

    circular_svg.selectAll('circle.node')
        .data(circular_nodes)
        .enter()
        .append('circle')
        .classed('circular_node', true)
        .attr('r', 5)
        .attr('cx', function (d) { return d.x; })
        .attr('cy', function (d) { return d.y; })
        .attr('fill', 'red');

    circular_svg.selectAll('text.node')
        .data(circular_nodes)
        .enter()
        .append('text')
        .classed('circular_node', true)
        .attr({
            'text-anchor': function (d) {
                return (Math.sin(d.radians) < 0) ? 'end' : 'begin';
            },
            dy: '0.3em',
            dx: function(d) {
                return (Math.sin(d.radians) < 0) ? '-1em' : '1em';
            },
            transform: function (d) {
                var degrees = d.degrees - 90;
                var xTranslate = circular_radius;
                if (Math.sin(d.radians) < 0) {
                    degrees -= 180;
                    xTranslate *= -1;
                }
                return 'rotate(' + degrees + ') translate(' + xTranslate + ', 0)';
            }
        })
        .text(function(d) {
            return d.name;
        })
        .style('fill', 'white')
        .attr('font-size', '10px');
</script>
{% endblock %}