{% extends 'console/layout.html' %}
{% block product_name %}
{# ****     1. Write down the product name    #}
    (Product Name)
{% endblock %}

{% block product_description %}
{# ****     2. Write down the product description    #}
    (Product Description)
{% endblock %}


{% block content %}

<script type="application/javascript"></script>
<style></style>
{#********************************#}
{#********************************#}
{#   前面的                         #}
{#  3. "js" or "css" in this area #}
{#                                #}
{#********************************#}
{#********************************#}

<div class="section topmargin-lg nobottommargin section_product" style="margin:0px !important;">
    <div class="container clearfix">

{#********************************#}
{#********************************#}
{#                                #}
{#  4. Show plots in this area    #}
{#                                #}
{#********************************#}
{#********************************#}

    </div>
</div>


<script type="application/javascript"></script>
<style></style>
{#********************************#}
{#********************************#}
{#  后面的                          #}
{#  5. "js" or "css" in this area #}
{#                                #}
{#********************************#}
{#********************************#}


{#  6. Reference: /templetes_new/console/clean/cleangoo.html  #}

{% endblock %}