<!DOCTYPE html>
<html lang="en">
<head>

    <title>GraphGoo</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/css/tooplate-style.css">
    <link rel="stylesheet" href="../static/css/graphgoo_homepage.css">


</head>
<body>

<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">DaGoo</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="smoothScroll">Upload File</a></li>
                <li><a href="/products" class="smoothScroll">Products</a></li>
                <li><a href="#" class="smoothScroll">Contact us</a></li>
            </ul>
        </div>

    </div>
</div>

<section id="graph_layout2d" class="parallax-section">
    <div class="section-title">
        <h1>
            Graph Layout
        </h1>
    </div>
	<div class="container">
        <div class="row" style="text-align: center">
            <div class="col-lg-2" style="width: 14%;height: 300px;">
                <h5>
                    Circular Layout
                </h5>
                <a href="{{ url_for('graph_layout2d', layout='circular') }}"><img src="../static/img/circular2d.PNG" style="width: 150px;height: 150px;"></a>
            </div>
            <div class="col-lg-2" style="width: 14%;height: 300px;">
                <h5>
                    Chord Diagram
                </h5>
                <a href="{{ url_for('graph_layout2d', layout='chord') }}"><img src="../static/img/chord2d.PNG" style="width: 150px;height: 150px;"></a>
            </div>
            <div class="col-lg-2" style="width: 14%;height: 300px;">
                <h5>
                    Tree Layout
                </h5>
                <a href="{{ url_for('graph_layout2d', layout='tree') }}"><img src="../static/img/tree2d.PNG" style="width: 150px;height: 150px;"></a>
            </div>
            <div class="col-lg-2" style="width:14%;height: 300px;">
                <h5>
                    Pack Layout
                </h5>
                <a href="{{ url_for('graph_layout2d', layout='pack') }}"><img src="../static/img/pack2d.PNG" style="width: 150px;height: 150px;"></a>
            </div>
            <div class="col-lg-2" style="width: 14%;height: 300px;">
                <h5>
                    Radial layout
                </h5>
                <a href="{{ url_for('graph_layout2d', layout='radial') }}"><img src="../static/img/radial2d.PNG" style="width: 150px;height: 150px;"></a>
            </div>
            <div class="col-lg-2" style="width: 14%;height: 300px;">
                <h5>
                    Grid Layout
                </h5>
                <a href="{{ url_for('graph_layout2d', layout='grid') }}"><img src="../static/img/grid2d.html" style="width: 150px;height: 150px;"></a>
            </div>
            <div class="col-lg-2" style="width: 14%;height: 300px;">
                <h5>
                    Hierarchical Layout
                </h5>
                <a href="{{ url_for('graph_layout2d', layout='hierarchical') }}"><img src="../static/img/hierarchical2d.html" style="width: 150px;height: 150px;"></a>
            </div>
        </div>
  </div>

</section>

<div class="getdata">
    <ul id="graph_nodes">
        {% for item in nodes %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <ul id="graph_matrix">
        {% for item in matrix %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</div>

<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.parallax.js"></script>
<script src="../static/js/modernizr.custom.js"></script>
<script src="../static/js/smoothscroll.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/custom.js"></script>
<script src="../static/js/d3.v3.min.js"></script>
<script>
    nodes = new Array();
    arr = document.getElementById("graph_nodes").getElementsByTagName('li');
    temp = [];
    for (i = 0; i < arr.length; i++) {
        nodes.push(arr[i].innerHTML);
    }
    var graph_matrix = new Array();
    arr = document.getElementById('graph_matrix').getElementsByTagName('li');
    temp = [];
    for (i = 0; i < arr.length; i++) {
        temp.push(arr[i].innerHTML)
    }
    for (i = 0; i < temp.length; i++) {
        temp1 = temp[i].replace('[', '');
        temp2 = temp1.replace(']', '');
        temp3 = temp2.split(",");
        numArray = temp3.map((value) => {
            return parseFloat(value);
        });
        graph_matrix.push(numArray)
    }
</script>

</body>
</html>