<!DOCTYPE html>
<html lang="en">
<head>

    <title>GraphGoo</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/css/tooplate-style.css">
    <link rel="stylesheet" href="../static/css/graphgoo_homepage.css">
    <link rel="stylesheet" href="../static/css/vis-network.min.css">

</head>
<style>
    #hierarchical_layout {
      width: 100%;
      height: 500px;
    }
</style>
<style>
    .node {
        cursor: pointer;
    }
    .node:hover {
        stroke: #000;
        stroke-width: 1.5px;
    }
    .node--leaf {
        fill: white;
    }

    .node--root,
    .node--leaf {
        pointer-events: none;
    }
</style>
<body>

<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">DaGoo</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="smoothScroll">Home</a></li>
                <li><a data-toggle="modal" data-target="#myModal" class="btn btn-lg">Upload File</a></li>
                <li><a href="/products" class="smoothScroll">Products</a></li>
                <li><a href="#" class="smoothScroll">Contact us</a></li>
            </ul>
        </div>

    </div>
</div>

<section id="graph_layout2d" class="parallax-section">
    <div class="section-title">
        <h1>
            Graph Layout
        </h1>
    </div>
	<div class="container">
        <div class="row" style="text-align: center">
            <div class="col-lg-2" style="width: 14%;height: 300px;">
                <h5>
                    Circular Layout
                </h5>
                <a onclick="set_layout2d_visual('circular_layout')"><img src="../static/img/circular2d.PNG" style="width: 150px;height: 150px;"></a>
            </div>
            <div class="col-lg-2" style="width: 14%;height: 300px;">
                <h5>
                    Chord Diagram
                </h5>
                <a onclick="set_layout2d_visual('chord_layout')"><img src="../static/img/chord2d.PNG" style="width: 150px;height: 150px;"></a>
            </div>
            <div class="col-lg-2" style="width: 14%;height: 300px;">
                <h5>
                    Tree Layout
                </h5>
                <a onclick="set_layout2d_visual('tree_layout')"><img src="../static/img/tree2d.PNG" style="width: 150px;height: 150px;"></a>
            </div>
            <div class="col-lg-2" style="width:14%;height: 300px;">
                <h5>
                    Pack Layout
                </h5>
                <a onclick="set_layout2d_visual('pack_layout')"><img src="../static/img/pack2d.PNG" style="width: 150px;height: 150px;"></a>
            </div>
            <div class="col-lg-2" style="width: 14%;height: 300px;">
                <h5>
                    Radial layout
                </h5>
                <a onclick="set_layout2d_visual('radial_layout')"><img src="../static/img/radial2d.PNG" style="width: 150px;height: 150px;"></a>
            </div>
            <div class="col-lg-2" style="width: 14%;height: 300px;">
                <h5>
                    Grid Layout
                </h5>
                <a onclick="set_layout2d_visual('grid_layout')"><img src="../static/img/grid2d.html" style="width: 150px;height: 150px;"></a>
            </div>
            <div class="col-lg-2" style="width: 14%;height: 300px;">
                <h5>
                    Hierarchical Layout
                </h5>
                <a onclick="set_layout2d_visual('hierarchical_layout')"><img src="../static/img/hierarchical2d.html" style="width: 150px;height: 150px;"></a>
            </div>



            <div class="col-lg-2" style="width: 14%;height: 300px;">
                <h5>
                    Product3D
                </h5>
                <a href="/master/<product3D>"><img src="/static/images/master/icon/product3D.png" style="width: 150px;height: 150px;"></a>
            </div>
            <div class="col-lg-2" style="width: 14%;height: 300px;">
                <h5>
                    Product2D
                </h5>
                <a href="/master/<product2D>"><img src="/static/images/master/icon/product2D.png" style="width: 150px;height: 150px;"></a>
            </div>
            <div class="col-lg-2" style="width: 14%;height: 300px;">
                <h5>
                    Product Tower
                </h5>
                <a href="/master/<producttower>"><img src="/static/images/master/icon/producttower.png" style="width: 150px;height: 150px;"></a>
            </div>
        </div>
        <div id="layout2d">
            <div class="row" id="circular_layout" style="display: none;">
            </div>
            <div class="row" id="chord_layout" style="display: none;">
            </div>
            <div class="row" id="grid_layout" style="display: none;">
            </div>
            <div class="row" id="hierarchical_layout" style="display: none;">
            </div>
            <div class="row" id="pack_layout" style="display: none;">
            </div>
            <div class="row" id="radial_layout" style="display: none;">
            </div>
            <div class="row" id="tree_layout" style="display: none;">
            </div>
        </div>
    </div>
</section>

<div class="getdata">
    <ul id="graph_nodes">
        {% for item in nodes %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <ul id="graph_matrix">
        {% for item in matrix %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</div>

<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                <h4 id="myModalLabel" class="modal-title">Upload File</h4>
            </div>
            <div class="modal-body">
                <input class="button_blue" id="file_path" name="file_path" type="button"
                           onclick="path.click()" value="File Upload">
                <input type="file" id="path" style="display:none" name="csvfile"
                           onchange="file_path.value=this.value">
                <input class="button_blue" type="button" onclick="read_file()" value="Submit">
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                <input class="button_blue" type="button" onclick="read_file()" value="Submit">
            </div>
        </div>
    </div>
</div>

<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.parallax.js"></script>
<script src="../static/js/modernizr.custom.js"></script>
<script src="../static/js/SmoothScroll.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/custom.js"></script>
<script src="../static/js/d3.v3.min.js"></script>
<script src="../static/js/graph_upload.js"></script>
<script src="../static/js/papaparse.js"></script>
<script src="../static/js/jschardet.min.js"></script>
<script src="../static/js/circleGraph.js"></script>
<script src="../static/js/d3.geom.min.js"></script>
<script src="../static/js/underscore-min.js"></script>
<script src="../static/js/vis.js"></script>
<script>
    graph_nodes = new Array();
    arr = document.getElementById("graph_nodes").getElementsByTagName('li');
    temp = [];
    for (i = 0; i < arr.length; i++) {
        graph_nodes.push(arr[i].innerHTML);
    }
    var graph_matrix = new Array();
    arr = document.getElementById('graph_matrix').getElementsByTagName('li');
    temp = [];
    for (i = 0; i < arr.length; i++) {
        temp.push(arr[i].innerHTML)
    }
    for (i = 0; i < temp.length; i++) {
        temp1 = temp[i].replace('[', '');
        temp2 = temp1.replace(']', '');
        temp3 = temp2.split(",");
        numArray = temp3.map((value) => {
            return parseFloat(value);
        });
        graph_matrix.push(numArray)
    }
    circular_nodes = [];
    for(i = 0; i < graph_nodes.length; i++){
        object = {};
        object.name = graph_nodes[i];
        circular_nodes.push(object);
    }
    circular_edges = [];
    for(i = 0; i < graph_matrix.length; i++){
        for(j = 0; j < graph_matrix[0].length; j++){
            if(!isNaN(graph_matrix[i][j])){
                object = {};
                object.source = graph_nodes[i];
                object.target = graph_nodes[j];
                circular_edges.push(object);
            }

        }
    }
    chord_matrix = [];
    for(i = 0; i < graph_matrix.length; i++){
        row = [];
        for(j = 0; j < graph_matrix[0].length; j++){
            if(!isNaN(graph_matrix[i][j])){
                row.push(graph_matrix[i][j]);
            }
            else{
                row.push(0);
            }
        }
        chord_matrix.push(row);
    }
    var grid_nodes = [];
    var grid_links = [];
    for(var i = 0; i < graph_nodes.length; i++) {
        var node = {
            label : graph_nodes[i]
        };
        grid_nodes.push(node);
    };

    for(var i = 0; i < grid_nodes.length; i++) {
        for(var j = 0; j < i; j++) {
            if(!isNaN(graph_matrix[i][j]))
                grid_links.push({
                    source : i,
                    target : j,
                    weight :graph_matrix[i][j]
                });
        }
    };
    tree_degree = [];
    for(i = 0; i < graph_matrix.length; i++){
        tree_degree.push(0);
    }
    for(i = 0; i < graph_matrix.length; i++){
        for(j = i + 1; j < graph_matrix.length; j++){
            if(!isNaN(graph_matrix[i][j])){
                tree_degree[i]++;
                tree_degree[j]++;
            }
        }
    }
    tree_root = 0;
    for(i = 0; i < tree_degree.length; i++){
        if(tree_degree[i] > tree_degree[tree_root]){
            tree_root = i;
        }
    }
</script>
<script>
    function get_tree_data(n, p){
        var object={};
        object.name=graph_nodes[n];
        var cn = 0;
        for(var j = n + 1; j < graph_nodes.length; j++){
            if(!isNaN(graph_matrix[n][j])){
                cn++;
            }
        }
        if(!cn){
            object.size = Math.floor(Math.random() * 1000 + 1);
		    return object;
        }
	    var children = [];
	    for(var j = n + 1; j < graph_nodes.length; j++){
		    if(!isNaN(graph_matrix[n][j])){
			    var sub_object = get_tree_data(j, n);
			    children.push(sub_object);
		    }
	    }
	    object.children = children;
	    return object;
    }
</script>
<script>
    var circular_radius = 200;
    var circular_margin = 50;
    var circular_outerRadius = circular_radius + circular_margin;

    var circleGraph = d3.layout.circleGraph()
        .tension(0.2)
        .radius(circular_radius)
        .range(Math.PI * 2)
        .nodes(circular_nodes)
        .edges(circular_edges);

    var circular_svg = d3.select('#circular_layout')
        .append('svg')
        .attr('width', circular_outerRadius * 2)
        .attr('height', circular_outerRadius * 2)
        .append('g')
        .attr('transform', 'translate(' + circular_outerRadius + ', ' + circular_outerRadius + ')');

    circular_svg.selectAll('path.edge')
        .data(circular_edges)
        .enter()
        .append('path')
        .classed('circular_edge', true)
        .attr('d', circleGraph.line)
        .attr('stroke', '#CCC')
        .attr('stroke-width', '2px')
        .attr('fill', 'none');

    circular_svg.selectAll('circle.node')
        .data(circular_nodes)
        .enter()
        .append('circle')
        .classed('circular_node', true)
        .attr('r', 5)
        .attr('cx', function (d) { return d.x; })
        .attr('cy', function (d) { return d.y; })
        .attr('fill', 'red');

    circular_svg.selectAll('text.node')
        .data(circular_nodes)
        .enter()
        .append('text')
        .classed('circular_node', true)
        .attr({
            'text-anchor': function (d) {
                return (Math.sin(d.radians) < 0) ? 'end' : 'begin';
            },
            dy: '0.3em',
            dx: function(d) {
                return (Math.sin(d.radians) < 0) ? '-1em' : '1em';
            },
            transform: function (d) {
                var degrees = d.degrees - 90;
                var xTranslate = circular_radius;
                if (Math.sin(d.radians) < 0) {
                    degrees -= 180;
                    xTranslate *= -1;
                }
                return 'rotate(' + degrees + ') translate(' + xTranslate + ', 0)';
            }
        })
        .text(function(d) {
            return d.name;
        })
        .style('fill', 'white')
        .attr('font-size', '10px');
</script>
<script>
    var chord_layout=d3.layout.chord()
        .padding(0.06)
        .sortSubgroups(d3.descending())
        .matrix(chord_matrix);
    //生成节点和连线
    var chord_groups=chord_layout.groups();
    var chords=chord_layout.chords();
      //炫图，颜色函数的定义
    var chord_width=600;
    var chord_height=600;
    var chord_innerRadius=chord_width/2*0.7;
    var chord_outerRadius=chord_innerRadius*1.1;
      //声明颜色比例尺
    var chord_color20=d3.scale.category20();
    var chord_svg=d3.select("#chord_layout").append("svg")
        .attr("width",chord_width)
        .attr("height",chord_height)
        .append("g")
        .attr("transform","translate("+chord_width/2+","+chord_height/2+")");
      //绘制节点（即分组，有多少个城市画多少个弧形），及绘制城市名称
    var chord_outer_arc=d3.svg.arc()
        .innerRadius(chord_innerRadius)
        .outerRadius(chord_outerRadius);
    var chord_g_outer=chord_svg.append("g");
    chord_g_outer.selectAll("path")
        .data(chord_groups)
        .enter()
        .append("path")
        .style("fill",function(d){return chord_color20(d.index);})
        .style("stroke",function(d){return chord_color20(d.index);})
        .attr("d",chord_outer_arc);
    chord_g_outer.selectAll("text")
        .data(chord_groups)
        .enter()
        .append("text")
        .attr('fill', 'white')
        .each(function(d,i){
            d.angle=(d.startAngle+d.endAngle)/2;
            d.name=graph_nodes[i];
        })
        .attr("dy",".35em")
        .attr("transform",function(d){
            return "rotate(" + ( d.angle * 180 / Math.PI ) + ")" +
                    ( ( d.angle > Math.PI && d.angle < Math.PI*2 ) ? "translate(0,"+ -1.0*(chord_outerRadius+40) +")" : "translate(0,"+ -1.0*(chord_outerRadius+10) +")")
                //"translate(0,"+ -1.0*(chord_outerRadius+10) +")" +
                + ( ( d.angle > Math.PI && d.angle < Math.PI*2 ) ? "rotate(90)" : "rotate(-90)");
        })
        .attr('font-size', '10px')
        .text(function(d){
            return d.name;
        });
      //5.绘制内部弦（即所有城市人口的来源，即有5*5=25条弧）
    var inner_chord=d3.svg.chord()
                        .radius(chord_innerRadius);
    chord_svg.append("g")
        .attr("class","chord")
        .selectAll("path")
        .data(chords)
        .enter()
        .append("path")
        .attr("d",inner_chord)
        .attr('fill-opacity', 0.67)
        .attr('stroke', 'black')
        .attr('stroke-width', '0.5px')
        .style("fill",function(d){return chord_color20(d.source.index);})
        .style("opacity",1)
        .on("mouseover",function(d,i){
            chord_svg.append('title')
                .attr('id', 'chord_label')
                .text(graph_nodes[d.source.index] + '->' + graph_nodes[d.source.subindex] + ':' + d.source.value
                + '\n' + graph_nodes[d.target.index] + '->' + graph_nodes[d.target.subindex] + ':' + d.target.value)
                .attr('color', 'white');
            d3.select(this).style("fill","yellow");
        })
        .on("mouseout",function(d,i){
            d3.select('#chord_label').remove();
            d3.select(this)
                .transition()
                .duration(1000)
                .style("fill",chord_color20(d.source.index));
        });
</script>
<script type="text/javascript" charset="utf-8">
    var grid_w = 1200, grid_h = 700;
    var grid_vis = d3.select("#grid_layout")
        .append("svg:svg")
        .attr("width", grid_w)
        .attr("height", grid_h);
    var GRID_SIZE = grid_w/grid_nodes.length;
    var grid_force = d3.layout.force()
        .size([grid_w, grid_h])
        .nodes(grid_nodes)
        .links(grid_links)
        .gravity(1)
        .linkDistance(function(d){
            return (1-d.weight)*100})
        .charge(-3000)
        .linkStrength(function(x) {
            return x.weight * 5
        });

    grid_force.start();
    var grid_link = grid_vis.selectAll("line.grid_link")
        .data(grid_links).enter()
        .append("svg:line")
        .attr("class", "grid_link")
        .style("stroke-width", 1.5)
        .style("stroke", "#555")
        .style("opacity", function(d){return d.weight*.7});
    var grid_node = grid_vis.selectAll("g.grid_node")
        .data(grid_force.nodes())
        .enter()
        .append("svg:g")
        .attr("class", "grid_node");
    grid_node.append("svg:circle")
        .attr("r", 6)
        .style("fill", "#555")
        .style("stroke", "#FFF")
        .style("stroke-width", "4px");
    grid_node.call(grid_force.drag);
    var grid_text = grid_vis.selectAll("g.grid_text")
        .data(grid_force.nodes())
        .enter()
        .append("svg:g")
        .attr("class", "grid_text")
        .append("svg:text")
        .style("fill", "white")
        .attr('font-size', '12')
        .attr("dx", 0)
        .attr("dy", 0)
        .text(function(d){
            return d.label;
        });
    var grid_updateLink = function() {
        this.attr("x1", function(d) {
            return d.source.screenX;
        }).attr("y1", function(d) {
            return d.source.screenY;
        }).attr("x2", function(d) {
            return d.target.screenX;
        }).attr("y2", function(d) {
            return d.target.screenY;
        });
    };
    var grid_updateNode = function() {
        this.attr("transform", function(d) {
            var gridpoint = grid.occupyNearest(d);
            if(gridpoint) {
                d.screenX = d.screenX || gridpoint.x;
                d.screenY = d.screenY || gridpoint.y;
                d.screenX += (gridpoint.x - d.screenX) * .2;
                d.screenY += (gridpoint.y - d.screenY) * .2;
                d.x += (gridpoint.x - d.x) * .05;
                d.y += (gridpoint.y - d.y) * .05;
            }
            return "translate(" + d.screenX + "," + d.screenY + ")";
        });
    };

    var grid = function(width, height) {
        return {
            cells : [],
            init : function() {
                this.cells = [];
                for(var i = 0; i < width / GRID_SIZE; i++) {
                    for(var j = 0; j < height / GRID_SIZE; j++) {
                        var cell;
                        cell = {
                            x : i * GRID_SIZE,
                            y : j * GRID_SIZE
                        };
                        this.cells.push(cell);
                    };
                };
            },

            sqdist : function(a, b) {
                return Math.pow(a.x - b.x, 2) + Math.pow(a.y - b.y, 2);
            },

            occupyNearest : function(p) {
                var minDist = 1000000;
                var d;
                var candidate = null;
                for(var i = 0; i < this.cells.length; i++) {
                    if(!this.cells[i].occupied && ( d = this.sqdist(p, this.cells[i])) < minDist) {
                        minDist = d;
                        candidate = this.cells[i];
                    }
                }
                if(candidate)
                    candidate.occupied = true;
                return candidate;
            }
        }
    }(grid_w, grid_h);

    grid_force.on("tick", function() {
        grid_vis.select("g.gridcanvas").remove();
        grid.init();
        var gridCanvas = grid_vis.append("svg:g").attr("class", "gridcanvas");
        _.each(grid.cells, function(c) {
            gridCanvas.append("svg:circle")
                .attr("cx", c.x)
                .attr("cy", c.y)
                .attr("r", 2)
                .style("fill", "#555")
                .style("opacity", .3);
        });
        grid_node.call(grid_updateNode);
        grid_link.call(grid_updateLink);
        grid_text.attr("x", function(d){
            return d.screenX;
        })
            .attr("y", function(d){
                return d.screenY;
            })
    });
</script>
<script>
    var hierarchical_nodes = [];
    var hierarchical_edges = [];
    for(i = 0; i < graph_nodes.length; i++){
        hierarchical_nodes.push({"id":i,"label":graph_nodes[i], "color":"#ffffff"})
    }
    for(i = 0; i < graph_nodes.length; i++){
        for(j = 0; j< graph_nodes.length; j++){
            if(!isNaN(graph_matrix[i][j])){
                hierarchical_edges.push({from:i, to:j})
            }
        }
    }

    var hierarchical_container = document.getElementById('hierarchical_layout');
    hierarchical_nodes = new vis.DataSet(hierarchical_nodes);
    hierarchical_edges = new vis.DataSet(hierarchical_edges);
    var hierarchical_data = {
        nodes: hierarchical_nodes,
        edges: hierarchical_edges
    };

    var hierarchical_options = {
        layout: {
            hierarchical: {
                sortMethod: "directed"
            }
        },
        edges: {
            smooth: true,
            arrows: {to : true },
            color: {"color": "#fff"},
            width: 2
        },
        nodes: {
            shape:'circle'
        }
    };

    hierarchical_network = new vis.Network(hierarchical_container, hierarchical_data, hierarchical_options);
</script>
<script>
    pack_root = get_tree_data(tree_root, -1);

    var pack_margin = 20,
    pack_diameter = 560;

    var pack_color = d3.scale.linear()
        .domain([-1, 5])
        .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
        .interpolate(d3.interpolateHcl);

    var pack = d3.layout.pack()
        .padding(2)
        .size([pack_diameter - pack_margin, pack_diameter - pack_margin])
        .value(function(d) { return d.size; })

    var pack_svg = d3.select("#pack_layout").append("svg")
        .attr("width", pack_diameter)
        .attr("height", pack_diameter)
        .append("g")
        .attr("transform", "translate(" + pack_diameter / 2 + "," + pack_diameter / 2 + ")");

    pack_svg.selectAll("circle").remove();
    pack_svg.selectAll("text").remove();

    var pack_focus = pack_root,
        nodes = pack.nodes(pack_root),
        view;

    var pack_circle = pack_svg.selectAll("circle")
        .data(nodes)
        .enter().append("circle")
        .attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
        .style("fill", function(d) {
            return d.children ? pack_color(d.depth) : null; })
        .on("click", function(d) { if (pack_focus !== d) pack_zoom(d), d3.event.stopPropagation(); });

    var pack_text = pack_svg.selectAll("text")
        .data(nodes)
        .enter()
        .append("text")
        .attr("class", "label")
        .attr("pointer-events", "none")
        .attr("font", '11px "Helvetica Neue", Helvetica, Arial, sans-serif')
        .attr("text-shadow", '0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff')
        .attr("text-anchor", 'middle')
        .style("fill-opacity", function(d) { return d.parent === pack_root ? 1 : 0; })
        .style("display", function(d) {
          return d.parent === pack_root ? "inline" : "none"; })
        .text(function(d) { return d.name; });

    var pack_node = pack_svg.selectAll("circle,text");

    d3.select("body")
        .on("click", function() { pack_zoom(pack_root); });

    pack_zoomTo([pack_root.x, pack_root.y, pack_root.r * 2 + pack_margin]);

    function pack_zoom(d) {
        var focus0 = pack_focus; pack_focus = d;

        var transition = d3.transition()
            .duration(d3.event.altKey ? 7500 : 750)
            .tween("zoom", function(d) {
                var i = d3.interpolateZoom(view, [pack_focus.x, pack_focus.y, pack_focus.r * 2 + pack_margin]);
                return function(t) { pack_zoomTo(i(t)); };
            });

        transition.selectAll("text")
            .filter(function(d) { return d.parent === pack_focus || this.style.display === "inline"; })
            .style("fill-opacity", function(d) { return d.parent === pack_focus ? 1 : 0; })
            .each("start", function(d) { if (d.parent === pack_focus) this.style.display = "inline"; })
            .each("end", function(d) { if (d.parent !== pack_focus) this.style.display = "none"; });
    }

    function pack_zoomTo(v) {
      var k = pack_diameter / v[2]; view = v;
      pack_node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
      pack_circle.attr("r", function(d) { return d.r * k; });
    }

    d3.select(self.frameElement).style("height", pack_diameter + "px");
</script>
<script>
    var tree_margin = [20, 120, 20, 20],
    tree_width = 1280 - tree_margin[1] - tree_margin[3],
    tree_height = 800 - tree_margin[0] - tree_margin[2],
    tree_i = 0,
    tree_layout2root;

var tree = d3.layout.tree()
    .size([tree_height, tree_width]);

var tree_diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

var tree_svg = d3.select("#tree_layout").append("svg:svg")
    .attr("width", tree_width + tree_margin[1] + tree_margin[3])
    .attr("height", tree_height + tree_margin[0] + tree_margin[2])
    .call(tree_zoom = d3.behavior.zoom().scaleExtent([0.5,20]).on("zoom", tree_redraw))
  .append("svg:g")
    .attr("transform", "translate(" + tree_margin[3] + "," + tree_margin[0] + ")");

tree_zoom.translate([350, 20]);
tree_layout2root = get_tree_data(tree_root, -1);
tree_layout2root.x0 = tree_height / 2;
tree_layout2root.y0 = 0;

function tree_toggleAll(d) {
  if (d.children) {
    d.children.forEach(tree_toggleAll);
    tree_toggle(d);
  }
}

  // Initialize the display to show a few nodes.
  // tree_layout2root.children.forEach(tree_toggleAll);
  // toggle(tree_layout2root.children[1]);
  // toggle(tree_layout2root.children[1].children[2]);
  // toggle(tree_layout2root.children[9]);
  // toggle(tree_layout2root.children[9].children[0]);

 tree_update(tree_layout2root);


function tree_update(source) {
  var duration = d3.event && d3.event.altKey ? 5000 : 500;

  // Compute the new tree layout.
  var nodes = tree.nodes(tree_layout2root).reverse();

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = d.depth * 180; });

  // Update the nodes…
  var node = tree_svg.selectAll("g.node")
      .data(nodes, function(d) { return d.id || (d.id = ++tree_i); });

  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("svg:g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
      .on("click", function(d) { tree_toggle(d); tree_update(d); });

  nodeEnter.append("svg:circle")
      .attr("r", 1e-6)
      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; })
      .attr('fill', '#fff')
      .attr('stroke', 'steelblue')
      .attr('stroke-width', '1.5px')
      .attr('cursor', 'pointer');

  nodeEnter.append('a')
      .attr('xlink:href', function(d) {
        return d.url;
      })
      .append("svg:text")
      .attr("x", function(d) { return d.children || d._children ? -10 : 10; })
      .attr("dy", ".35em")
      .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
      .text(function(d) { return d.name; })
      .style('fill', function(d) {
        return d.free ? 'black' : '#999';
      })
      .attr('font-size', '12px')
      .style("fill-opacity", 1e-6);

  /*nodeEnter.append("svg:title")
    .text(function(d) {
      return d.description;
    });*/

  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeUpdate.select("circle")
      .attr("r", 6)
      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeUpdate.select("text")
      .style("fill-opacity", 1);

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
      .remove();

  nodeExit.select("circle")
      .attr("r", 1e-6);

  nodeExit.select("text")
      .style("fill-opacity", 1e-6);

  // Update the links…
  var link = tree_svg.selectAll("path.link")
      .data(tree.links(nodes), function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("svg:path", "g")
      .attr("class", "link")
      .attr('fill', 'none')
      .attr('stroke', '#ccc')
      .attr('stroke-width', '2.0px')
      .attr("d", function(d) {
        var o = {x: source.x0, y: source.y0};
        return tree_diagonal({source: o, target: o});
      })
    .transition()
      .duration(duration)
      .attr("d", tree_diagonal);

  // Transition links to their new position.
  link.transition()
      .duration(duration)
      .attr("d", tree_diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
      .duration(duration)
      .attr("d", function(d) {
        var o = {x: source.x, y: source.y};
        return tree_diagonal({source: o, target: o});
      })
      .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
    d.x0 = d.x;
    d.y0 = d.y;
  });
}

// Toggle children.
function tree_toggle(d) {
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
}

function tree_redraw() {
  //console.log("here", d3.event.translate, d3.event.scale);
  tree_svg.attr("transform",
      "translate(" + d3.event.translate + ")"
      + " scale(" + d3.event.scale + ")");
}
</script>

<script>
    function set_layout2d_visual(layout_selected){
        if(document.getElementById(layout_selected).style.display == 'block'){
            document.getElementById(layout_selected).style.display = 'none';
        }
        else{
            document.getElementById('chord_layout').style.display = 'none';
            document.getElementById('circular_layout').style.display = 'none';
            document.getElementById('grid_layout').style.display = 'none';
            document.getElementById('hierarchical_layout').style.display = 'none';
            document.getElementById('pack_layout').style.display = 'none';
            document.getElementById('radial_layout').style.display = 'none';
            document.getElementById('tree_layout').style.display = 'none';
            document.getElementById(layout_selected).style.display = 'block';
        }
    }
</script>
</body>
</html>