
{% extends 'console/layout.html' %}
{% block product_name %}
{% endblock %}

{% block product_description %}
{% endblock %}

{% block content %}



<div id="page-menu" class="no-sticky">

			<div id="page-menu-wrap" style=" background-color: #484848;">

				<div class="container clearfix">

					<div class="menu-title">Product <span>Filter</span></div>

					<nav>
						<ul class="custom-filter" data-container="#portfolio" data-active-class="current">
							<li class="current"><a href="#" data-filter="*"><div>Show All</div></a></li>
							<li><a href="#" data-filter=".pf-clean"><div>Clean</div></a></li>
							<li><a href="#" data-filter=".pf-multi"><div>Multi</div></a></li>
							<li><a href="#" data-filter=".pf-text"><div>Text</div></a></li>
							<li><a href="#" data-filter=".pf-geo"><div>Geo</div></a></li>
							<li><a href="#" data-filter=".pf-graph"><div>Graph</div></a></li>
                            <li><a href="#" data-filter=".pf-streaming"><div>Streaming</div></a></li>

						</ul>
					</nav>

				<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

				</div>

			</div>

		</div>
<!-- Content
============================================= -->
<section id="content" style="background-color: #000;">

    <div class="content-wrap nopadding">

        <div class="container clearfix">
            <!-- Portfolio Items
            ============================================= -->
            <div id="portfolio" class="portfolio grid-container portfolio-nomargin clearfix">

                <article class="portfolio-item pf-clean wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/new/dagoo/images/product1.jpg" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">Clean Goo</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item pf-multi wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/new/dagoo/images/product2.jpg" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">Multi Goo</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item pf-text wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/new/dagoo/images/product3.jpg" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">Text Goo</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item pf-geo wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/new/dagoo/images/product4.jpg" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">Geo Goo</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="portfolio-item pf-geo wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/new/dagoo/images/product4.jpg" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">Geo Goo</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item pf-geo wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/geogoo/globemap.png" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Geo] GlobeMap!</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>


                <article class="portfolio-item pf-geo wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/geogoo/planemap.png" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Geo] PlaneMap!</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>


                <article class="portfolio-item pf-geo wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/geogoo/towermap.png" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Geo] TowerMap!</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>


                <article class="portfolio-item pf-geo wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/geogoo/listmap.png" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Geo] ListMap!</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>


                                <article class="portfolio-item pf-geo wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/geogoo/geo.png" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Geo] Administration!</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>


                                <article class="portfolio-item pf-geo wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/geogoo/geo_point.png" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Geo] Points!</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>

                                <article class="portfolio-item pf-geo wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/geogoo/geo_line.png" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Geo] Line!</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>

                                <article class="portfolio-item pf-geo wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/geogoo/geo_world.png" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Geo] World!</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item pf-graph wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/new/dagoo/images/product5.jpg" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">Graph Goo</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item pf-graph wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/graph_data/circular2d.PNG" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Graph] Circular Layout</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item pf-graph wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/graph_data/chord2d.PNG" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Graph] Chord Diagram</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="portfolio-item pf-graph wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/graph_data/tree2d.PNG" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Graph] Tree Layout</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item pf-graph wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/graph_data/pack2d.PNG" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Graph] Pack Layout</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="portfolio-item pf-graph wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/graph_data/grid2d.PNG" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Graph] Grid Layout</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="portfolio-item pf-graph wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/graph_data/hierarchical2d.PNG" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Graph] Hierarchical Layout</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="portfolio-item pf-graph wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/graph_data/tree2d.PNG" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Graph] Product3D</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="portfolio-item pf-graph wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/graph_data/product3D.png" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Graph] Product2D</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="portfolio-item pf-graph wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/graph_data/product2D.png" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">[Graph] Product Tower</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>






                <article class="portfolio-item pf-streaming wide">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="/static/images/graph_data/producttower.png" alt="Open Imagination">
                        </a>
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3 class="product_all_object_title">Streaming Goo</h3>
                                <div class="button button-3d"><i class="icon-search"></i>View</div>
                            </div>
                        </div>
                    </div>
                </article>




{#            <div id="portfolio" class="portfolio grid-container portfolio-3 portfolio-nomargin clearfix">#}
{##}
{##}
{##}
{#                <article class="portfolio-item pf-data pf-icons">#}
{#                    <div class="portfolio-image">#}
{#                        <a href="#">#}
{#                            <img src="/static/new/dagoo/images/product1.jpg" alt="Open Imagination">#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="portfolio-overlay">#}
{#                        <div class="portfolio-desc">#}
{#                            <h3><a href="#">CleanGoo!</a></h3>#}
{#                            <span><a href="#">Media</a>, <a href="#">Icons</a></span>#}
{#                        </div>#}
{#                    </div>#}
{#                </article>#}
{##}
{#                <article class="portfolio-item pf-data pf-icons">#}
{#                    <div class="portfolio-image">#}
{#                        <a href="#">#}
{#                            <img src="/static/new/dagoo/images/product2.jpg" alt="Open Imagination">#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="portfolio-overlay">#}
{#                        <div class="portfolio-desc">#}
{#                            <h3><a href="#">CleanGoo!</a></h3>#}
{#                            <span><a href="#">Media</a>, <a href="#">Icons</a></span>#}
{#                        </div>#}
{#                    </div>#}
{#                </article>#}
{##}
{#            </div><!-- #portfolio end -->#}

        </div></div>

    </div>

</section><!-- #content end -->


    
{% endblock %}