<!DOCTYPE html>
<html lang="en">
<head>

    <title>GraphGoo</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <!-- MAIN CSS-->
    <link rel="stylesheet" href="../static/css/tooplate-style.css">
    <link rel="stylesheet" href="../static/css/graph_layout.css">

</head>

<body>

<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- NAVBAR HEADER -->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <!-- lOGO -->
            <a href="#" class="navbar-brand">GraphGoo</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/graphgoo_home" class="smoothScroll">Home</a></li>
                <li><a href="/products" class="smoothScroll">Products</a></li>
                <li><a href="#" class="smoothScroll">Contact us</a></li>
                <li>
                    <div style="width: 2px; height: 20px; background-color: white; margin: 15px"></div>
                </li>
                {% if user %}
                    <li class="user_img"><a class="page-scroll" href="/user/">
                        <div class="to3" style="margin-top: -10px;">
                            <div class="to2">
                                <div class="to1">
                                    <img class="to" src="/static/user/{{ user.email }}/img/user_img.jpg">
                                </div>
                            </div>
                        </div>
                    </a>
                    </li>
                    <li><a href="/login/" class="page-scroll">Quit</a></li>
                {% else %}
                    <li>
                        <a href="/login/" class="">Log in/Sign up</a>
                    </li>
                {% endif %}
                {% if user %}
                    {% if user.permission==100 %}
                        <li>
                            <a href="/admin/?manager={{ user.username }}" class="">manage</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% if user %}
                <script>

                    var permi = '' +{{ user.permission }};
                    switch (permi) {
                        case "1":
                            $('.to3').css('background-color', '#aac4bc');
                            break;
                        case "2":
                            $('.to3').css('background-color', '#ae853b');
                            break;
                        case "3":
                            $('.to3').css('background-color', '#dfdc5d');
                            break;
                        case "100":
                            $('.to3').css('background-color', '#ede4b8');
                            break;
                        default:
                            $('.to3').css('background-color', 'white');
                    }
                </script>
            {% endif %}
        </div>
    </div>
</div>

<section id="graph_layout2d" class="parallax-section">
	<div class="container">
        <div class="row" id="grid_layout">
        </div>
  </div>
</section>

<div class="getdata">
    <ul id="graph_nodes">
        {% for item in nodes %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <ul id="graph_matrix">
        {% for item in matrix %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</div>

<!-- SCRIPTS -->
<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/jquery.parallax.js"></script>
<script src="../../static/js/modernizr.custom.js"></script>
<script src="../../static/js/SmoothScroll.js"></script>
<script src="../../static/js/main.js"></script>
<script src="../../static/js/custom.js"></script>
<script src="../../static/js/d3.min.js"></script>
<script src="../../static/js/d3.layout.min.js"></script>
<script src="../../static/js/d3.geom.min.js"></script>
<script src="../../static/js/underscore-min.js"></script>
<script>
    graph_nodes = new Array();
    arr = document.getElementById("graph_nodes").getElementsByTagName('li');
    temp = [];
    for (i = 0; i < arr.length; i++) {
        graph_nodes.push(arr[i].innerHTML);
    }
    var graph_matrix = new Array();
    arr = document.getElementById('graph_matrix').getElementsByTagName('li');
    temp = [];
    for (i = 0; i < arr.length; i++) {
        temp.push(arr[i].innerHTML)
    }
    for (i = 0; i < temp.length; i++) {
        temp1 = temp[i].replace('[', '');
        temp2 = temp1.replace(']', '');
        temp3 = temp2.split(",");
        numArray = temp3.map((value) => {
            return parseFloat(value);
        });
        graph_matrix.push(numArray)
    }


</script>

<script type="text/javascript" charset="utf-8">

    var nodes = [];
    var links = [];
    for(var i = 0; i < graph_nodes.length; i++) {
        var node = {
            label : graph_nodes[i]
        };
        nodes.push(node);
    };

    for(var i = 0; i < nodes.length; i++) {
        for(var j = 0; j < i; j++) {
            if(!isNaN(graph_matrix[i][j]))
                links.push({
                    source : i,
                    target : j,
                    weight :graph_matrix[i][j]
                });
        }
    };
    var w = 1200, h = 700;
    var vis = d3.select("#grid_layout")
        .append("svg:svg")
        .attr("width", w)
        .attr("height", h);
    var GRID_SIZE = w/nodes.length;
    var force = d3.layout.force()
        .size([w, h])
        .nodes(nodes)
        .links(links)
        .gravity(1)
        .linkDistance(function(d){
            return (1-d.weight)*100})
        .charge(-3000)
        .linkStrength(function(x) {
            return x.weight * 5
        });

    force.start();
    var link = vis.selectAll("line.link")
        .data(links).enter()
        .append("svg:line")
        .attr("class", "link")
        .style("stroke-width", 1.5)
        .style("stroke", "#555")
        .style("opacity", function(d){return d.weight*.7});
    var node = vis.selectAll("g.node")
        .data(force.nodes())
        .enter()
        .append("svg:g")
        .attr("class", "node");
    node.append("svg:circle")
        .attr("r", 6)
        .style("fill", "#555")
        .style("stroke", "#FFF")
        .style("stroke-width", "4px");
    node.call(force.drag);

    var updateLink = function() {
        this.attr("x1", function(d) {
            return d.source.screenX;
        }).attr("y1", function(d) {
            return d.source.screenY;
        }).attr("x2", function(d) {
            return d.target.screenX;
        }).attr("y2", function(d) {
            return d.target.screenY;
        });
    };
    var updateNode = function() {
        this.attr("transform", function(d) {
            var gridpoint = grid.occupyNearest(d);
            if(gridpoint) {
                d.screenX = d.screenX || gridpoint.x;
                d.screenY = d.screenY || gridpoint.y;
                d.screenX += (gridpoint.x - d.screenX) * .2;
                d.screenY += (gridpoint.y - d.screenY) * .2;
                d.x += (gridpoint.x - d.x) * .05;
                d.y += (gridpoint.y - d.y) * .05;
            }
            return "translate(" + d.screenX + "," + d.screenY + ")";
        });
    };

    var grid = function(width, height) {
        return {
            cells : [],
            init : function() {
                this.cells = [];
                for(var i = 0; i < width / GRID_SIZE; i++) {
                    for(var j = 0; j < height / GRID_SIZE; j++) {
                        var cell;
                        cell = {
                            x : i * GRID_SIZE,
                            y : j * GRID_SIZE
                        };
                        this.cells.push(cell);
                    };
                };
            },

            sqdist : function(a, b) {
                return Math.pow(a.x - b.x, 2) + Math.pow(a.y - b.y, 2);
            },

            occupyNearest : function(p) {
                var minDist = 1000000;
                var d;
                var candidate = null;
                for(var i = 0; i < this.cells.length; i++) {
                    if(!this.cells[i].occupied && ( d = this.sqdist(p, this.cells[i])) < minDist) {
                        minDist = d;
                        candidate = this.cells[i];
                    }
                }
                if(candidate)
                    candidate.occupied = true;
                return candidate;
            }
        }
    }(w, h);

    force.on("tick", function() {
        vis.select("g.gridcanvas").remove();
        grid.init();
        var gridCanvas = vis.append("svg:g").attr("class", "gridcanvas");
        _.each(grid.cells, function(c) {
            gridCanvas.append("svg:circle")
                .attr("cx", c.x)
                .attr("cy", c.y)
                .attr("r", 2)
                .style("fill", "#555")
                .style("opacity", .3);
        });
        node.call(updateNode);
        link.call(updateLink);
    });
</script>
</body>
</html>