
{% extends 'console/layout.html' %}
{% block product_name %}
    Clean Goo
{% endblock %}

{% block product_description %}
    Clean your data
{% endblock %}


{% block content %}


<div class="section topmargin-lg nobottommargin section_product" style="margin:0px !important;">
    <div class="container clearfix">
        <div id="analysis" style="background-color: #fff;border-radius: 5px;padding:5px 10px;">
            <div class="section-title">
                 <div id="clean_table" class="table table-striped"></div>
            </div>
        </div>
    </div>
</div>

<style>
#aa{
  cursor:pointer;
}
select{
    color:#000 !important;
}
#clean_table table{
    width:100%;

}
.section_product *, .section_product h2{
    color:#777;
}
</style>
<!-- SCRIPTS -->
<script type="text/javascript" src="/static/js/bootstrap/jquery-1.9.0.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/bootstrap/jquery.parallax.js"></script>
<script src="/static/js/bootstrap/modernizr.custom.js"></script>
<script src="/static/js/bootstrap/SmoothScroll.js"></script>
<script src="/static/js/bootstrap/custom.js"></script>

<script>
showAtRight('/clean_table','#clean_table');
function showAtRight(url, id){
        $.ajax({
            type :"GET",
            url : url,
            dataType:"html",
            success : function(data) {//返回数据根据结果进行相应的处理
                $(id).html(data);
            },
                error:function(){
                    $(id).html("获取数据失败！");
                }
            });
        }

</script>

    
{% endblock %}