
{% extends 'layout.html' %}

{% block content %}



<!-- Slider
============================================= -->
<section id="slider" class="slider-element full-screen clearfix" style="background: #FFF url('/static/new/dagoo/images/frontback1.jpg') center center no-repeat; background-size: cover;">
    <img class="img-map parallax skrollable skrollable-between front_map"
         src="/static/new/theme/demos/hosting/images/svg/map-light.svg" alt="" data-0="opacity: 0.05;margin-top:0px"
         data-800="opacity: 0.05;margin-top:150px" style="opacity: 0.05; margin-top: 0px;">

    <div class="vertical-middle">
        <div class="container topmargin-sm">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <div class="slider-title">
                        <h2>Coming Soon...</h2>
                        <h2>敬请期待！</h2>
                        <a data-langs="front-txt3" href="{{url_for("console.all")}}" target="_blank" class="button button-rounded button-large nott ls0">Start Gooing Now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="video-wrap h-100 d-block d-lg-none">
        <div class="video-overlay" style="background: rgba(0,0,0,0.4);"></div>
    </div>

<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
</section><!-- #slider end -->




{% endblock %}