
{% extends 'layout.html' %}

{% block content %}
<!-- Slider
============================================= -->

<div class="slider-element full-screen " style="background: #FFF url('/static/new/dagoo/images/frontback.png') center center no-repeat; background-size: cover;padding-top:-30px;">
					<div class="vertical-middle container-fluid divcenter clearfix" style="padding: 40px 0px;top:40%;">


						<div class="card divcenter noradius noborder" style="max-width: 400px;">
							<div class="card-body" style="padding: 40px;">
								<form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">

							<div style=" font-size: 25px; padding-bottom: 10px; color: #000;" data-langs="login_txt1">Login to your Account</div>

									<div class="col_full">
										<label for="login-form-username" data-langs="login_txt2">Username:</label>
										<input type="text" id="login-form-username" name="login-form-username" value="" class="form-control not-dark" />
									</div>

									<div class="col_full">
										<label for="login-form-password" data-langs="login_txt3">Password:</label>
										<input type="password" id="login-form-password" name="login-form-password" value="" class="form-control not-dark" />
									</div>

									<div class="col_full nobottommargin">
										<button class="button button-3d button-black nomargin" id="login-form-submit" name="login-form-submit" value="login"  data-langs="login_txt5">Login</button>
										<a href="#" class="fright"  data-langs="login_txt4">Forgot Password?</a>
									</div>
								</form>


							</div>
						</div>

                        <div style="margin:100px;">&nbsp;</div>


					</div>
				</div>

{% endblock %}