
{% extends 'layout.html' %}

{% block content %}
<section id="page-title" style="background-color: #fff;border:none;">

    <div class="container clearfix">
        <h1>Product <a href="{{ url_for('new.product_all') }}" target="_blank" style="font-size: 15px; text-decoration: underline !important;" class=""><i class="icon-external-link"></i> Console</a></h1>

        <span>DaGoo has SIX inseparable brothers. They are geniuses in different areas!</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product</li>
        </ol>
    </div>

</section>


<div class="section topmargin-lg nobottommargin section_product" style="margin:0px !important;">
    <div class="container clearfix">
        <div class="col_half nobottommargin center">
            <img src="/static/new/dagoo/images/product1.jpg" alt="Image" >
        </div>
        <div class="col_half nobottommargin col_last">
            <div class="heading-block" style="padding-top: 40px;">
                <h2>Clean Goo</h2>
                <span>Pre-precessing tools for well-defined data set</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.</p>
            <a href="{{ url_for('new.product_cleangoo') }}" target="_blank" class="button button-border button-large button-rounded topmargin-sm noleftmargin">View Product</a>
        </div>
    </div>
</div>

<div class="section nobg notopmargin noborder bottommargin-sm" style="margin:0px !important;">
    <div class="container clearfix">
        <div class="col_half nobottommargin">
            <div class="heading-block" style="padding-top: 40px;">
                <h2>Multi Goo</h2>
                <span>Multivariate data analysis</span>
            </div>
            <p>Multivariate data analysis - cluster, embedding, anomaly detection, regression,association analysis</p>
            <a href="#" class="button button-border button-large button-rounded topmargin-sm noleftmargin">View Product</a>
        </div>
        <div class="col_half bottommargin-sm center col_last">
            <img src="/static/new/dagoo/images/product2.jpg" alt="Image" >
        </div>
    </div>
</div>


<div class="section topmargin-lg nobottommargin section_product" style="margin:0px !important;">
    <div class="container clearfix">
        <div class="col_half nobottommargin center">
            <img src="/static/new/dagoo/images/product3.jpg" alt="Image" >
        </div>
        <div class="col_half nobottommargin col_last">
            <div class="heading-block" style="padding-top: 40px;">
                <h2>Text Goo</h2>
                <span>Text data analysis</span>
            </div>
            <p>text recognition, word cloud and knowledge graph</p>
            <a href="#" class="button button-border button-large button-rounded topmargin-sm noleftmargin">View Product</a>
        </div>
    </div>
</div>

<div class="section nobg notopmargin noborder bottommargin-sm" style="margin:0px !important;">
    <div class="container clearfix">
        <div class="col_half nobottommargin">
            <div class="heading-block" style="padding-top: 40px;">
                <h2>Geo Goo</h2>
                <span>Geographical data analysis</span>
            </div>
            <p>line, point, 2D and 3D map.</p>
            <a href="#" class="button button-border button-large button-rounded topmargin-sm noleftmargin">View Product</a>
        </div>
        <div class="col_half bottommargin-sm center col_last">
            <img src="/static/new/dagoo/images/product4.jpg" alt="Image" ">
        </div>
    </div>
</div>


<div class="section topmargin-lg nobottommargin section_product" style="margin:0px !important;">
    <div class="container clearfix">
        <div class="col_half nobottommargin center">
            <img src="/static/new/dagoo/images/product5.jpg" alt="Image">
        </div>
        <div class="col_half nobottommargin col_last">
            <div class="heading-block" style="padding-top: 40px;">
                <h2>Graph Goo</h2>
                <span>Pre-precessing tools for well-defined data set</span>
            </div>
            <p>Circular Layout, Chord Diagram,Tree Layout,Pack Layout,Radial layout,Grid Layout,Hierarchical Layout,Product3D,Product2D and Product Tower.</p>
            <a href="#" class="button button-border button-large button-rounded topmargin-sm noleftmargin">View Product</a>
        </div>
    </div>
</div>

<div class="section nobg notopmargin noborder bottommargin-sm" style="margin:0px !important;">
    <div class="container clearfix">
        <div class="col_half nobottommargin">
            <div class="heading-block" style="padding-top: 40px;">
                <h2>Streaming Goo</h2>
                <span>Duis mollis, est non commodo luctus. Donec sed odio dui</span>
            </div>
            <p>streamming graph, period detection, regression.</p>
            <a href="#" class="button button-border button-large button-rounded topmargin-sm noleftmargin">View Product</a>
        </div>
        <div class="col_half bottommargin-sm center col_last">
            <img src="/static/new/dagoo/images/product6.jpg" alt="Image">
        </div>
    </div>
</div>















{#<!-- Content#}
{#============================================= -->#}
{#<section id="content">#}
{##}
{#    <div class="content-wrap">#}
{##}
{#        <div class="container clearfix">#}
{##}
{#            <!-- Portfolio Filter#}
{#            ============================================= -->#}
{#            <ul id="portfolio-filter" class="portfolio-filter clearfix" data-container="#portfolio">#}
{##}
{#                <li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>#}
{#                <li><a href="#" data-filter=".pf-data">Data</a></li>#}
{#                <li><a href="#" data-filter=".pf-visualization">Visualization</a></li>#}
{#                <li><a href="#" data-filter=".pf-algorithm">Algorithm</a></li>#}
{#                <li><a href="#" data-filter=".pf-raw">Raw</a></li>#}
{##}
{##}
{#            </ul><!-- #portfolio-filter end -->#}
{##}
{#            <div id="portfolio-shuffle" class="portfolio-shuffle" data-container="#portfolio">#}
{#                <i class="icon-random"></i>#}
{#            </div>#}
{##}
{#            <div class="clear"></div>#}
{##}
{#            <!-- Portfolio Items#}
{#            ============================================= -->#}
{#            <div id="portfolio" class="portfolio grid-container portfolio-3 portfolio-nomargin clearfix">#}
{##}
{#                <article class="portfolio-item pf-data pf-icons">#}
{#                    <div class="portfolio-image">#}
{#                        <a href="portfolio-single.html">#}
{#                            <img src="/static/images/clean_data/clean.PNG" alt="Open Imagination">#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="portfolio-desc">#}
{#                        <h3><a href="#">CleanGoo!</a></h3>#}
{#                        <span><a href="#">Media</a>, <a href="#">Icons</a></span>#}
{#                    </div>#}
{#                </article>#}
{##}
{#                 <article class="portfolio-item pf-media pf-icons">#}
{#                    <div class="portfolio-image">#}
{#                        <a href="portfolio-single.html">#}
{#                            <img src="/static/images/table_data/table.png" alt="Open Imagination">#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="portfolio-desc">#}
{#                        <h3><a href="#">MultiGoo!</a></h3>#}
{#                        <span><a href="#">Media</a>, <a href="#">Icons</a></span>#}
{#                    </div>#}
{#                </article>#}
{##}
{#                <article class="portfolio-item pf-media pf-icons">#}
{#                    <div class="portfolio-image">#}
{#                        <a href="portfolio-single.html">#}
{#                            <img src="/static/images/text_data/text.png" alt="Open Imagination">#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="portfolio-desc">#}
{#                        <h3><a href="#">TextGoo!</a></h3>#}
{#                        <span><a href="#">Media</a>, <a href="#">Icons</a></span>#}
{#                    </div>#}
{#                </article>#}
{##}
{#                                <article class="portfolio-item pf-media pf-icons">#}
{#                    <div class="portfolio-image">#}
{#                        <a href="portfolio-single.html">#}
{#                            <img src="/static/images/geogoo/geo.png" alt="Open Imagination">#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="portfolio-desc">#}
{#                        <h3><a href="#">GeoGoo!</a></h3>#}
{#                        <span><a href="#">Media</a>, <a href="#">Icons</a></span>#}
{#                    </div>#}
{#                </article>#}
{##}
{#                                <article class="portfolio-item pf-media pf-icons">#}
{#                    <div class="portfolio-image">#}
{#                        <a href="portfolio-single.html">#}
{#                            <img src="/static/images/graph_data/graph.png" alt="Open Imagination">#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="portfolio-desc">#}
{#                        <h3><a href="#">GraphGoo!</a></h3>#}
{#                        <span><a href="#">Media</a>, <a href="#">Icons</a></span>#}
{#                    </div>#}
{#                </article>#}
{##}
{#                                <article class="portfolio-item pf-media pf-icons">#}
{#                    <div class="portfolio-image">#}
{#                        <a href="portfolio-single.html">#}
{#                            <img src="/static/images/streaming_data/streaming_data.png" alt="Open Imagination">#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="portfolio-desc">#}
{#                        <h3><a href="#">StreamingGoo!</a></h3>#}
{#                        <span><a href="#">Media</a>, <a href="#">Icons</a></span>#}
{#                    </div>#}
{#                </article>#}
{##}
{#            </div><!-- #portfolio end -->#}
{##}
{#        </div>#}
{##}
{#    </div>#}
{##}
{#</section><!-- #content end -->#}


    
{% endblock %}