
{% extends 'layout.html' %}

{% block content %}



<!-- Slider
============================================= -->
<section id="slider" class="slider-element full-screen clearfix" style="background: #FFF url('/static/new/dagoo/images/frontback.png') center center no-repeat; background-size: cover;">
<img class="img-map parallax skrollable skrollable-between" src="/static/new/theme/demos/hosting/images/svg/map-light.svg" alt="" data-0="opacity: 0.05;margin-top:0px" data-800="opacity: 0.05;margin-top:150px" style="opacity: 0.05; margin-top: 0px;">

    <div class="vertical-middle">
        <div class="container topmargin-sm">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <div class="slider-title">
                        <h2 data-langs="work_txt1">DaGoo supports data analysis in a variety of industries including economy, finance, public transportation, and climate.</h2>
                        <a data-langs="front-txt3" href="#" class="button button-rounded button-large nott ls0">Start Gooing Now</a>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="video-wrap h-100 d-block d-lg-none">
        <div class="video-overlay" style="background: rgba(255,255,255,0.85);"></div>
    </div>

<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
</section><!-- #slider end -->

<!-- Content
============================================= -->
<section id="content">

			<div class="content-wrap pt-0" style="padding-bottom: 0;">

				<!-- Dagoo case study
				============================================= -->
                <div class="section  mt-4 mb-0 pb-0" style=" background-color: #FAFBFC;">
					<div class="container">
                        <div class="heading-block nobottomborder center divcenter mb-0 clearfix" style="max-width: 550px">
							<h3 class="nott ls0 mb-3" style="    font-weight: 400;">近期案例分享</h3>
							<p>分享一下最近dagoo团队工作的事例。 Dagoo通过多种数据分析,可以发现多个insight。</p>
						</div>
                        <div class="row">

                            <div class="col-lg-6 bottommargin">

                                <div class="team team-list work1-box clearfix">
                                    <div class="team-image">
                                        <img src="/static/new/dagoo/images/work1_1.jpg" alt="John Doe">
                                    </div>
                                    <div class="team-desc">
                                        <div class="work1-meta"><h4>经济</h4><span>/  24 Jun 2018</span></div>
                                        <div class="work1-title">2012年世界贸易数据分析</div>
                                        <div class="work1-content">
                                            <p>simple description................... ........</p>
                                        </div>

                                    </div>
                                     <a class="work1-readmore" href="/master"target="_blank">Read More</a>
                                </div>

                            </div>
                                 <div class="col-lg-6 bottommargin">

                                <div class="team team-list work1-box clearfix">
                                    <div class="team-image">
                                        <img src="/static/new/dagoo/images/work1_3.jpg" alt="John Doe">
                                    </div>
                                    <div class="team-desc">
                                        <div class="work1-meta"><h4>经济</h4><span>/  24 Jun 2018</span></div>
                                        <div class="work1-title">深圳市公交线路分析</div>
                                        <div class="work1-content">
                                            <p>simple description................... ........</p>
                                        </div>

                                    </div>
                                     <a class="work1-readmore" href="/geo/world"target="_blank">Read More</a>
                                </div>

                            </div>
                            <div class="col-lg-6 bottommargin">

                                <div class="team team-list work1-box clearfix">
                                    <div class="team-image">
                                        <img src="/static/new/dagoo/images/work1_2.jpg" alt="John Doe">
                                    </div>
                                    <div class="team-desc">
                                        <div class="work1-meta"><h4>经济</h4><span>/  24 Jun 2018</span></div>
                                        <div class="work1-title">2012年世界贸易数据分析</div>
                                        <div class="work1-content">
                                            <p>simple description................... ........</p>
                                        </div>

                                    </div>
                                     <a class="work1-readmore" href="/BusRoute"target="_blank">Read More</a>
                                </div>

                            </div>


                            <div class="col-lg-6 bottommargin">

                                <div class="team team-list work1-box clearfix">
                                    <div class="team-image">
                                        <img src="/static/new/dagoo/images/work1_4.jpg" alt="John Doe">
                                    </div>
                                    <div class="team-desc">
                                        <div class="work1-meta"><h4>经济</h4><span>/  24 Jun 2018</span></div>
                                        <div class="work1-title">广东省PM2.5监测平台</div>
                                        <div class="work1-content">
                                            <p>simple description................... ........</p>
                                        </div>

                                    </div>
                                     <a class="work1-readmore" href="/PM25" target="_blank">Read More</a>
                                </div>

                            </div>


					    </div>
                    </div>
                </div>

                <!-- Dagoo video
				============================================= -->
                <div class="section  py-4" style="color: #fff;background-color: #2d2d2d;margin-bottom: 0px;">
                    <div class="container">
                        <div class="heading-block nobottomborder center">
                            <h3 class="nott ls0" style="color:#fff;    font-weight: 400; margin-top:100px;">其他案例展示</h3>
                        </div>

                        <div class="row mt-5 clearfix">
                            <div class="col-md-6">
                                <article class="entry">
                                    <div class="entry-image mb-3">
                                         <video controls autoplay loop muted>
                                            <source src="/static/videos/school.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="entry-title">
                                        <h3><a href="#">大学生择校分析系统</a></h3>
                                    </div>
                                    <div class="entry-content clearfix">
                                        <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem progressive technology through pariatur quibusdam veritatis quisquam. Efficiently communicate alternative.</p>
                                    </div>
                                </article>
                            </div>

                            <div class="col-md-6">
                                       <article class="entry">
                                    <div class="entry-image mb-3">
                                         <video controls autoplay loop muted>
                                            <source src="/static/videos/color.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="entry-title">
                                        <h3><a href="#">青岛市重金属污染分析平台</a></h3>
                                    </div>
                                    <div class="entry-content clearfix">
                                        <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem progressive technology through pariatur quibusdam veritatis quisquam. Efficiently communicate alternative.</p>
                                    </div>
                                </article>
                            </div>

                            <div class="col-md-6">
                                       <article class="entry">
                                    <div class="entry-image mb-3">
                                         <video controls autoplay loop muted>
                                            <source src="/static/videos/fawugoo.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="entry-title">
                                        <h3><a href="#">文本合同分析平台</a></h3>
                                    </div>
                                    <div class="entry-content clearfix">
                                        <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem progressive technology through pariatur quibusdam veritatis quisquam. Efficiently communicate alternative.</p>
                                    </div>
                                </article>
                            </div>

                            <div class="col-md-6">
                                       <article class="entry">
                                    <div class="entry-image mb-3">
                                         <video controls autoplay loop muted>
                                            <source src="/static/videos/thunder.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="entry-title">
                                        <h3><a href="#">雷电仿真系统</a></h3>
                                    </div>
                                    <div class="entry-content clearfix">
                                        <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem progressive technology through pariatur quibusdam veritatis quisquam. Efficiently communicate alternative.</p>
                                    </div>
                                </article>
                            </div>


                             <div class="col-md-6">
                               <article class="entry">
                                    <div class="entry-image mb-3">
                                         <video controls autoplay loop muted>
                                            <source src="/static/videos/exam1.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="entry-title">
                                        <h3><a href="#">济南市空气污染分析平台</a></h3>
                                    </div>
                                    <div class="entry-content clearfix">
                                        <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem progressive technology through pariatur quibusdam veritatis quisquam. Efficiently communicate alternative.</p>
                                    </div>
                                </article>
                            </div>


                             <div class="col-md-6">
                               <article class="entry">
                                    <div class="entry-image mb-3">
                                         <video controls autoplay loop muted>
                                            <source src="/static/videos/NetworkVis.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="entry-title">
                                        <h3><a href="#">社交网络分析平台</a></h3>
                                    </div>
                                    <div class="entry-content clearfix">
                                        <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem progressive technology through pariatur quibusdam veritatis quisquam. Efficiently communicate alternative.</p>
                                    </div>
                                </article>
                            </div>


                        </div>
                    </div>
				</div>

			</div>

		</section><!-- #content end -->




{% endblock %}